.module-subscription {
	.pricing-plans {
		max-width: 500px;
		margin: 0 auto;
		margin-top: 50px;

		.buttons {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 10px;

			.button {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.pricing-plan-notice {
			margin-top: 40px;
			text-align: center;
			font-size: $fontSizeSmall;
		}
	}

	.pricing-plan-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include mdShadow;
		background: white;
		border-radius: $defaultBorderRadius;
	}

	.pricing-plan {
		width: 50%;
		text-align: center;
		padding: 40px 20px;
		border-right: 1px solid $colorGrayLight;

		&:last-child {
			border: 0;
		}

		.title {
			color: $colorPrimary;
			display: block;
			font-size: 28px;
			margin-bottom: 20px;
		}

		.price {
			font-size: 32px;
			color: $colorGrayUltraDark;
		}

		.price-notice {
			margin-top: 5px;
			display: block;
			color: $colorGray;
			font-size: $fontSizeSmall;
		}

		.button {
			margin: 0;
		}

		.feature-list {
			width: auto;
			display: inline-block;
			margin: 20px auto 30px;
			list-style: none;
			padding: 0;
			text-align: left;

			li {
				display: flex;
				align-items: center;

				.icon {
					width: 20px;
					height: 20px;
					margin-right: 5px;
					display: block;
					fill: $colorPrimary;
				}
			}

			.feature-not-included {
				color: $colorGrayMedium;

				.icon {
					fill: $colorGrayMedium;
				}
			}
		}

		@media(max-width: 500px) {
			width: 100%;
			border-bottom: 1px solid $colorGrayLight;
		}
	}
}

.subscription-form {
	display: flex;
	height: 520px;

	.steps-column {
		display: flex;
		flex-direction: column;
		width: 38%;
		flex: 0 0 38%;
		background-color: $colorPrimary;
		color: white;
		padding: 32px;
		padding-top: 0;

		.steps-column__bottom {
			margin-top: auto;
			align-self: flex-end;
			width: 100%;

			.button {
				background-color: $colorIncome;
				border: none;
				display: block;
				margin-bottom: 0;
			}
		}

	}

	.content-column {
		padding: 32px;
		width: 100%;

		.box {
			border-radius: $defaultBorderRadius;
			border: 1px solid $colorGray;
			padding: 24px;
		}

		.plans {
			display: flex;
			flex-direction: column;
			height: 100%;
		}

		.plan {
			height: 100%;
			padding-bottom: 16px;
			padding-top: 16px;

			&:first-child {
				padding-top: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			&.plan--selected {

				.plan__inner {
					box-shadow: 0 0 0 3px $colorPrimary;
				}
			}
		}

		.plan__inner {
			box-shadow: 0 0 0 1px $colorGray;
			border-radius: $defaultBorderRadius;
			padding: 16px 24px;
			height: 100%;
			display: flex;
			align-items: center;
			cursor: pointer;

			.plan__title {
				font-size: $fontSizeLarge;
				font-weight: $fontWeightBold;
			}

			.plan__price {
				font-size: 48px;
			}

			.plan__note {
				color: $colorGray;
			}

			.plan__savings {
				color: $colorIncome;
				margin-left: 20px;
			}
		}



		.account-form {
			.flex-row {
				display:flex;

				nvry-input {
					width: 100%;

					&:first-child {
						margin-right: 10px;
						width: auto;
					}
				}
			}
		}

		.payment-form {
			height: 100%;

			.payment-form__header {
				display: flex;

				.braintree-badge {
					margin-left: auto;
					margin-right: 0;

					img {
						max-width: 160px;
						display: block;
					}
				}
			}

			#paypal-button {
				margin-bottom: 30px;
				width: 100%;
				display: block;

				img {
					max-width: 100px;
				}

				.button {
					padding: 16px;
					display: block;
					width: 100%;
				}
			}



			.payment-separator {
				display: flex;
				align-items: center;
				color: $colorGray;
				margin: 30px 0;

				&:before,
				&:after {
					display: block;
					content: '';
					height: 1px;
					background-color: $colorGrayLight;
					width: 100%;
				}

				span {
					margin: 0 10px;
				}
			}

			.paypal-box {
				@extend .box;
				margin-top: 40px;

				.paypal-box__bottom {
					padding-top: 24px;
					display: flex;

					nvry-button {
						margin-left: auto;
						margin-right: 0;
					}
				}
			}
		}

		.review-step {

			.box {
				p {
					white-space: pre;
					font-size: $fontSizeLarge;
				}

				.label {
					font-size: $fontSize;
					color: $colorGray;
				}

				.flex-row {
					display: flex;

					> div {
						width: 100%;
					}
				}
			}

		}
	}

}
