.module-subscription {
	.pricing-plans {
		max-width: 500px;
		margin: 0 auto;
		margin-top: 50px;

		.buttons {
			display: flex;
			justify-content: flex-end;
			margin-bottom: 10px;

			.button {
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}
			}
		}

		.pricing-plan-notice {
			margin-top: 40px;
			text-align: center;
			font-size: $fontSizeSmall;
		}
	}

	.pricing-plan-wrapper {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		@include mdShadow;
		background: white;
		border-radius: $defaultBorderRadius;
	}

	.pricing-plan {
		width: 50%;
		text-align: center;
		padding: 40px 20px;
		border-right: 1px solid $colorGrayLight;

		&:last-child {
			border: 0;
		}

		.title {
			color: $colorPrimary;
			display: block;
			font-size: 28px;
			margin-bottom: 20px;
		}

		.price {
			font-size: 32px;
			color: $colorGrayUltraDark;
		}

		.price-notice {
			margin-top: 5px;
			display: block;
			color: $colorGray;
			font-size: $fontSizeSmall;
		}

		.button {
			margin: 0;
		}

		.feature-list {
			width: auto;
			display: inline-block;
			margin: 20px auto 30px;
			list-style: none;
			padding: 0;
			text-align: left;

			li {
				display: flex;
				align-items: center;

				.icon {
					width: 20px;
					height: 20px;
					margin-right: 5px;
					display: block;
					fill: $colorPrimary;
				}
			}

			.feature-not-included {
				color: $colorGrayMedium;

				.icon {
					fill: $colorGrayMedium;
				}
			}
		}

		@media(max-width: 500px) {
			width: 100%;
			border-bottom: 1px solid $colorGrayLight;
		}
	}
}

.subscription-form {
	display: flex;

	.steps-column {
		width: 100%;
		flex: 0 0 40%;
		background-color: $colorPrimary;
		color: white;
		padding: 0 20px 0 40px;
	}

	.content-column {
		padding: 32px;
		width: 100%;

		.plan {
			border-radius: $defaultBorderRadius;
			border: 1px solid $colorGray;
			padding: 16px;

			&.plan--selected {
				color: $colorPrimary;
				border-color: $colorPrimary;
			}
		}
	}

}
