/**
 * Natural box sizing for all elements
 */
html {
	box-sizing: border-box;
	margin-left: calc(100vw - 100%);

	&.cdk-global-scrollblock {
		left: 0 !important;
	}
}

*, *:before, *:after {
	box-sizing: inherit;
}

/**
 * App root
 */
nvry-app-root {
	width: 100%;
	height: 100%;
	display: block;
}

/**
 * Basic font styling
 */
html, body {
	font-size: $fontSize;
	line-height: $defaultLineHeight;
	font-family: $fontFamily;
	font-weight: 400;
	height: 100%;

	@apply text-gray-900;
	@apply dark:text-white;
}

/**
 * Logo
 */
.logo {
	display: block;

	.ff-icon {
		display: block;
		width: 100%;
		height: 100%;
	}
}

/**
 * Spacer lines
 */
hr {
	height: 1px;
	background: $colorSpacerLines;
	border: 0;
	margin: 15px 0;
	width: 100%;
	display: block;
}

/**
 * Typography
 */
p {
	margin-top: 0;
}

/**
 * Images
 */
img {
	max-width: 100%;
	height: auto;
}

/**
 * Helper classes
 */
.full-width {
	width: 100%;
}

.pull-right {
	float: right;
}

.tc {
	text-align: center;
}

.tr {
	text-align: right;
}

.hidden {
	display: none;
}

.no-padding {
	padding: 0;
}

.nmb {
	margin-bottom: 0 !important;
}

.no-scroll {
	overflow: hidden;
}

[hidden] {
	display: none !important;
}

[invisible] {
	visibility: hidden;
}

/**
 * Color helpers
 */
.color-expenses { color: $colorExpenses }
.color-income { color: $colorIncome }
.color-customers { color: $colorClients }
.color-gray { color: $colorGray }

/**
 * Clearfix
 */
.cf:before,
.cf:after {
	content: " "; /* 1 */
	display: table; /* 2 */
}

.cf:after {
	clear: both;
}

/**
 * Transformation stuff
 */
.rotate-180-deg {
	transform: rotateX(180deg);
}


.small-notice {
	font-size: 11px;
	color: $colorGrayMedium;
}




/// New actually needed CSS
:root {
	--nvry-legacy-label-color: theme('colors.gray.600');
}

html.dark {
	--ff-table-text-color: white;
	--ff-table-clickable-hover-background: theme('colors.gray.800');
	--ff-table-color-spacer-lines: theme('colors.gray.600');
	--ff-table-heading-background-color: theme('colors.gray.800');

	--ff-legacy-form-field-background: theme('colors.gray.800');
	--ff-legacy-form-field-disabled-background: theme('colors.gray.900');

	--nvry-legacy-label-color: white;

	.mat-table {
		background: transparent;
		color: white;

		.mat-cell {
			color: white;
		}
	}

	.chosen-container {
		background: var(--ff-legacy-form-field-background);

		.chosen-single {
			color: white !important;
		}
	}
}

.mat-dialog-container {
	overflow-x: hidden;
}

.chosen-container {
	font-size: 14px;
}

.nvry-container {
	padding-left: $contentSidePadding;
	padding-right: $contentSidePadding;
}

.nvry-dialog-full {
	width: 1000px !important;
	height: 90% !important;
	max-width: none !important;

	@media (max-width: 1000px) {
		height: 100% !important;
		width: 100% !important;

		.mat-dialog-container {
			border-radius: 0 !important;
		}
	}
}
