.document-preview {
	height: 100%;
	z-index: 1000;
	top: 0;
	left: 0;
	overflow: hidden;
	width: 595px;
	display: block;

	transform: scale(1.2, 1.2);
	transform-origin: 50% 0;
	margin: 0 auto 48px;

	iframe {
		width: 100%;
		height: 100%;
		border: 0;
		outline: 0;
	}
}
