input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 1px auto $colorPrimary;
	border: 1px solid $colorPrimary;
}

label {
	position: relative;
	display: block;
	color: $colorDarkAccent;

	.form-stacked & {
		display: block;
		margin-bottom: 3px;
	}
}

::placeholder {
	font-weight: normal;
}


.mat-form-field {
	.mat-form-field-infix {
		border-top: 0;
		padding: .8em 0 .8em 0;
	}

	.mat-form-field-wrapper {
		margin: 0 !important;
		padding: 0;
	}

	.mat-form-field-outline {
		top: 0 !important;

		> * {
			background: white;
		}
	}

	.mat-select-arrow-wrapper {
		transform: none !important;
	}

	.mat-form-field-suffix {
		top: 0 !important;
		color: $colorGray;
	}

	.mat-form-field-flex {
		align-items: center;
	}
}
