input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 1px auto $colorPrimary;
	border: 1px solid $colorPrimary;
}

label {
	position: relative;
	display: block;
	font-size: 13px;
	color: $colorDarkAccent;

	.form-stacked & {
		display: block;
		margin-bottom: 3px;
	}
}

::placeholder {
	font-weight: normal;
}
