@include form-fields {
	padding: 9px 6px;
	display: inline-block;
	border: 1px solid $formFieldBorderColor;
	border-radius: $formFieldBorderRadius;
	transition: background-color .2s ease;
	width: 100%;

	&:focus {
		outline: 0;
		border-color: $colorPrimary;
	}

	.form-stacked & {
		width: 100%;
	}

	&.money-field {
		text-align: right;
	}

	&[disabled] {
		background: $colorGrayLight;
	}

	&.clickable-field {
		background: white;

		&:hover {
			background: $colorPrimaryUltraLighter;
			cursor: pointer;
		}
	}

	&[nvry-amount] {
		text-align: right;
	}
}

@include form-fields-with-extensions {
	&.connected-with-next {

		input {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			border-right: 0;
		}

		&.nvry-focused {
			+ nvry-input input:not([type=hidden]) {
				border-left-color: $colorPrimary;
			}

			+ nvry-select .chosen-single {
				border-left-color: $colorPrimary;
			}
		}

		+ nvry-input input:not([type=hidden]),
		+ input[type=hidden] + input {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		+ nvry-select .chosen-single {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-right: 0 !important;
		}

		+ nvry-select .chosen-single {

			border-top-right-radius: 0;
			border-bottom-right-radius: 0;

			+ nvry-input input:not([type=hidden]),
			+ input[type=hidden] + input {
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
				border-left: 0;
			}
		}
	}
}

select {
	width: 100%;
}

textarea {
	min-height: 110px;
	resize: none;
}

.formfield-wrapper {
	margin-bottom: 15px;
	position: relative;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted #333;
	outline: 1px auto $colorPrimary;
	border: 1px solid $colorPrimary;
}

label {
	position: relative;
	display: block;
	font-size: 13px;
	color: $colorDarkAccent;

	.form-stacked & {
		display: block;
		margin-bottom: 3px;
	}
}

::placeholder {
	font-weight: normal;
}

nvry-input,
nvry-textarea,
nvry-select {
	margin-bottom: 15px;
	display: block;
}

/**
 * Form errors
 */
.control-message {
	display: block;
	color: $colorError;
	font-size: 12px;
}

/**
 * Checkboxes
 */
.checkbox {
	margin-bottom: 14px;
	display: block;

	label {
		display: inline-block;
		cursor: pointer;
		position: relative;
		padding-left: $checkboxSize + 15px;
		margin-bottom: 10px;
		line-height: $checkboxSize;

		&:before {
			content: "";
			display: inline-block;
			width: $checkboxSize;
			height: $checkboxSize;
			line-height: $checkboxSize;
			position: absolute;
			top: 0;
			left: 0;
			background: $colorGrayUltraDark;
			border-radius: $defaultBorderRadius;
			font-size: 22px;
			color: #fff;
			text-align: center;
		}
	}

	input[type=checkbox] {
		display: none;

		&:checked + label:before {
			content: "\2713";
		}

		&:disabled + label:before {
			background: $colorGrayLight;
			border-color: $colorGrayLight;
		}
	}
}

/**
 * Select dropdowns
 */
nvry-select {
	width: auto;
	display: block;

	&.connected-with-next {
		.chosen-drop {
			width: auto;
			margin-right: -1px;
		}
	}

	&.nvry-focused {
		.chosen-single {
			border-color: $colorPrimary;
		}
	}



	.chosen-container {
		width: 100% !important;

		.chosen-drop {
			border-color: $colorPrimary;
		}

		.chosen-single {
			border-radius: $formFieldBorderRadius;
			border-color: $formFieldBorderColor;
			background: transparent;
			box-shadow: none;
			height: auto;
			padding-top: 9px;
			padding-bottom: 9px;
			line-height: 1.5;

			div {
				display: flex;
				align-items: center;

				b {
					height: 25px;
				}
			}
		}

		.chosen-results {
			padding: 0;
			margin-right: 0;

			li {
				padding-top: 8px;
				padding-bottom: 8px;

				&.highlighted {
					background: $colorPrimary;
					color: white;
				}
			}
		}
	}

	.chosen-container-active {
		.chosen-single {
			border-color: $colorPrimary;
		}

		&.chosen-with-drop .chosen-single {
			background-image: none;
			border-color: $colorPrimary;
		}
	}

	.chosen-container {
		&.chosen-drop-up .chosen-drop {
			border-top: 1px solid $colorPrimary;
			border-bottom: 0;
			border-radius: 4px 4px 0 0;
			bottom: 100%;
			box-shadow: 0 -4px 5px rgba(#000, .15);
			top: auto;
		}
	}

	.chosen-container-active {
		&.chosen-with-drop {
			.chosen-single:not(.chosen-drop-up) {
				border-bottom-right-radius: 0;
				border-bottom-left-radius: 0;
				//background-image:linear-gradient(#eee 20%, #fff 80%);
				//box-shadow: 0 1px 0 #fff inset;
			}
			&.chosen-drop-up {
				.chosen-drop {
					display: flex;
					flex-direction: column-reverse;
				}
				.chosen-single {
					border-top: 0;
					box-shadow: 0 1px 0 #FFF inset;
					border-top-right-radius: 0;
					border-top-left-radius: 0;
				}
			}
		}
	}

}
