.modal-footer {
	text-align: right;
	background: $colorGrayUltraLighter;
	border-top: 1px solid $colorGrayLight;
	padding: 20px $modalSidePadding;
	margin-top: 20px;

	nvry-button {
		margin-right: 5px;

		&:last-child {
			margin-right: 0;
		}
	}
}

.modal-header {
	background: $colorPrimary;
	color: #fff;
	font-size: 20px;
	padding: 20px $modalSidePadding;
	margin-bottom: 20px;

	&.modal-header--danger {
		background: $colorError;
	}
}

.modal-backdrop {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(2, 15, 24, 0.5);
	z-index: 800;
}

.modal-outer {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: scroll;

	outline: 0;
	border: 0;
	z-index: 1000;

	align-items: flex-start;
	justify-content: center;

	nvry-button.modal__close-button {
		position: fixed;
		top: 40px;
		right: 40px;
		z-index: 5000;

		.button {
			width: 40px;
			height: 40px;
		}

		nvry-icon {
			width: 20px;
			height: 20px;
			margin: 0;
			display: block;
		}
	}

	nvry-button.modal__close-button-inside {
		position: absolute;
		top: 0;
		right: 0;

		.button {
			padding: 0;
			width: 30px;
			height: 30px;
		}

		.icon {
			fill: $colorPrimary;
			width: 20px;
			height: 20px;
			margin: 0;
			display: block;
		}
	}
}

.modal {
	position: relative;
	z-index: 900;
	padding-top: 48px;
	padding-bottom: 48px;
	outline: 0;

	&.modal--no-padding {
		.modal-dialog {
			padding: 0;
		}

		nvry-button.modal__close-button-inside {
			top: 8px;
			right: 8px;
		}
	}

	&.modal--large {
		.modal-dialog {
			width: $modalWidthLarge;
		}
	}

	&.modal--full-width {
		width: 100%;

		.modal-dialog {
			width: 100%;
		}
	}

	.modal-dialog {
		$modalDialogPadding: 32px $modalSidePadding;
		width: $modalWidthDefault;
		margin: 0 auto;
		background-color: white;
		border-radius: $defaultBorderRadius;
		padding: $modalDialogPadding;

		.modal-dialog__inner {
			position: relative;
		}

		.modal-inner {
			padding: 16px $modalSidePadding;
		}
	}

	&.modal--clean {
		.modal-dialog {
			background-color: transparent;
			padding: 0;
			border-radius: 0;
		}
	}

	@media(max-width: 700px) {
		padding: 20px 10px;
	}
}

.modal-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 400;
	opacity: 0;
	background: rgba(#000, 0.6);
	transition: all 0.3s;

	&.modal-overlay--shown {
		opacity: 1;
		visibility: visible;
	}
}
