nvry-spinner {
    width: 40px;
    height: 40px;
    display: block;
    margin: 0 auto;

    md-progress-circle {
        width: 100% !important;
    }

    svg path {
        stroke: $colorPrimary !important;
    }
}

