nvry-spinner {
	width: 40px;
	height: 40px;
	display: block;
	margin: 30px auto;

	.mat-progress-spinner {
		width: 100% !important;
		height: 100% !important;
	}

	svg path {
		stroke: $colorPrimary !important;
	}
}

