nvry-steps {
	width: 100%;
	display: block;

	.step {
		border-left: 1px solid $colorPrimaryLight;
		display: flex;
		padding: 0 0 30px 20px;
		position: relative;

		&:first-child {
			padding-top: 30px;
		}

		&:last-child {
			border-left: 0;
		}

		&:before {
			content: '';
			display: block;
			width: 15px;
			height: 15px;
			background-color: $colorPrimary;
			border-radius: 999px;
			position: absolute;
			left: -8px;
			transition: background-color .25s ease;
			border: 1px solid $colorPrimaryLight;
		}

		&.step--current {
			&:before {
				background-color: white;
				border-color: white;
			}
		}

		.step__change-link {
			margin-left: 10px;
			color: $colorPrimaryDark;
		}
	}
}
