nvry-table {

    table {
        width: 100%;
        text-align: left;
        border-collapse: collapse;
        border-spacing: 0;
        table-layout:fixed;

        &.table--clickable-items {
            tbody tr:hover td {
                background: $colorLightAccent;
            }

            td { cursor: pointer; }
        }

        &.table--list {
            .col-actions { width: 5%; padding-right: 5px; }
        }
    }

    tr {

        td {
            padding: 9px 0;
            padding-right: 15px;
            border-bottom: 1px solid $colorGrayLight;

            .text {
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &:first-child {
                padding-left: 10px;
            }
        }

        th,
        td {
            &:first-child {
                padding-left: $contentSidePadding;
            }

            &.nvry-table-cell--align-right {
                text-align: right;

                .nvry-table-header-cell__inner {
                    span {
                        margin-left: auto;
                    }
                }
            }
        }

        th {
            height: 45px;

            &.nvry-table-header-cell--sortable {
                cursor: pointer;
            }

            &.nvry-table-header-cell--sorted {
                color: $colorPrimary;

                nvry-icon {
                    fill: $colorPrimary;
                }
            }



            .nvry-table-header-cell__inner {
                @include display(flex);
                @include align-items(center);

                nvry-icon {
                    width: 20px;
                    height: 20px;
                }
            }
        }
    }


    th,
    .table-heading {
        color: $textColor;
        font-size: 12px;
        padding: 10px 0;
        line-height: $defaultLineHeight;
        font-weight: $fontWeightBold;
        border-top: 1px solid $colorSpacerLines;
        border-bottom: 1px solid $colorSpacerLines;
        background: $colorLightAccent;

        &:first-child {
            padding-left: 10px;
        }

        &:last-child {
            padding-right: 10px;
        }
    }


    .empty-view {
        margin: 90px 0 20px;
        text-align: center;
        width: 100%;

        .title {
            font-size: 16px;
            margin: 0 auto;
            @include fontBold;
            margin-bottom: 20px;
            max-width: 450px;
        }
    }
}

.table-spinner {
    margin: 60px auto;
    display: block;
}


