.datatable {

	width: 100%;
	text-align: left;

    .datatable-body-row,
    .datatable-header {
        border-bottom: 1px solid $colorGrayLight;

        .datatable-body-cell {
            padding: 15px 0;
            padding-right: 15px;

            &:first-child {
                padding-left: 10px;
            }

            &:last-child {
                padding-right: 0;
            }
        }

        .datatable-header-cell,
        .datatable-body-cell {
            &:first-child {
                padding-left: $contentSidePadding;
            }
        }
    }

    .datatable-header {
        border-top: 1px solid $colorSpacerLines;
    }


    &.datatable--clickable-items {
        .datatable-body-cell {
            cursor: pointer;
        }

        .datatable-body-row:hover {
            background: $colorLightAccent;
        }

    }

    &.table--list {
        .col-actions { width: 5%; padding-right: 5px; }
    }
}

.datatable-header-cell {
	color: $textColor;
	font-size: 12px;
	padding: 10px 0;
	line-height: $defaultLineHeight;
	font-weight: $fontWeightBold;
    background: $colorLightAccent;

	&.sortable {
		cursor: pointer;
	}

	&:first-child {
		padding-left: 10px;
	}

	&.sort-active {
		color: $colorPrimary;

		&.sort-asc {
		}

		&.sort-desc {
		}

		&:after {
			font-size: 18px;
		}
	}
}
