.upload-area {
	position: relative;
	border: 2px dashed $colorGrayLight;
	@apply border-gray-200;
	@apply dark:border-gray-500;
	@apply dark:bg-gray-800;
	padding: 0;
	height: 800px;

	.ff-spinner {
		margin: 80px auto;
	}

	&.upload-area--has-file {
		height: auto;
		border-style: solid;
	}

	.upload-area__notice {
		max-width: 300px;
		margin: 0 auto;
		margin-top: 150px;
		text-align: center;

		p {
			margin-bottom: 10px;
		}

		.button {
			margin: 0 auto;
		}
	}

	.upload-area__thumbnail {
		display: block;
		width: 100%;
	}

	.upload-area__page-nav {
		position: absolute;
		top: 15px;
		width: 100%;
		text-align: center;
		color: #fff;

		.upload-area__page-nav__inner {
			display: inline-block;
			position: relative;
			top: 4px;
		}
	}

	.upload-area__action-buttons {
		position: absolute;
		right: 10px;
		top: 15px;
		display: flex;
		align-items: center;

		.ff-button {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		.ff-button {
			height: 40px;
			width: 40px;
			border: 0;
			text-align: center;
			font-size: 16px;
			background: $colorUltraDarkAccent;

			.ff-icon {
				width: 30px;
				height: 30px;
				margin: 0 auto;
				color: white;
			}

		}
	}

	.upload-area__progress {
		max-width: 300px;
		left: 50%;
		margin-left: -150px;
		position: absolute;
		@include vertical-align;

		span {
			display: block;
			height: 20px;
			border-radius: $defaultBorderRadius;
			background: $colorPrimary;
			transition: all .5s ease;
		}
	}

	&.dz-drag-hover {
		border: 2px dashed $colorPrimary;
	}

	.dz-message {
		display: none !important;
	}
}

nvry-page-navigation {
	display: flex;
	align-items: center;

	.button {
		background: $colorUltraDarkAccent;
		border: 0;
		border-radius: 0;
		border-top-left-radius: $defaultBorderRadius;
		border-bottom-left-radius: $defaultBorderRadius;
		height: 30px;
		padding: 0 10px;

		.ff-icon {
			width: 20px;
			height: 20px;
			margin: 0;
			color: white;
		}

		&:last-child {
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			border-top-right-radius: $defaultBorderRadius;
			border-bottom-right-radius: $defaultBorderRadius;
		}

		&:hover,
		&:focus {
			background: lighten($colorUltraDarkAccent, 15%);
		}
	}

	.page-count {
		background: $colorUltraDarkAccent;
		height: 30px;
		display: inline-block;
		vertical-align: top;
		line-height: 30px;
		border-right: 1px solid $colorGrayLight;
		border-left: 1px solid $colorGrayLight;
		padding: 0 15px;
	}
}
