<div class="dashboard-page">
	<nvry-spinner *ngIf="loading"></nvry-spinner>

	<ng-template [ngIf]="data">
		<div class="dashboard-box">
			<h2 class="title">{{ 'dashboard.profit' | translate }}</h2>
			<p class="small">{{ year }}</p>

			<div class="number">€ {{ data?.revenue.totalGross | nvryNumber }}</div>
			<p class="small" *ngIf="profitInfo">{{ profitInfo }}</p>

			<div class="revenue-chart"></div>
		</div>
		<div class="dashboard-box">
			<h2 class="title">{{ 'general.invoices' | translate }}</h2>

			<div class="invoice-stats-items">
				<div class="invoice-stats-item">
					<span class="title">{{ 'general.overdue' | translate }}</span>
					<span class="amount color-expenses">€ {{ data.invoice_amounts.overdue | nvryNumber }}</span>
				</div>
				<div class="invoice-stats-item">
					<span class="title">{{ 'invoices.open' | translate }}</span>
					<span class="amount color-customers">€ {{ data.invoice_amounts.issued | nvryNumber }}</span>
				</div>
				<div class="invoice-stats-item">
					<span class="title">{{ 'general.draft' | translate }}</span>
					<span class="amount color-gray">€ {{ data.invoice_amounts.draft | nvryNumber }}</span>
				</div>
			</div>
		</div>

		<div class="dashboard-box dashboard-box--full">
			<h2 class="title">{{ 'dashboard.income_expenses' | translate }}</h2>
			<p class="small">{{ 'general.net' | translate }}</p>
			<div class="income-expense-chart"></div>
		</div>
	</ng-template>
</div>

