<div class="dashboard-page">
	<nvry-spinner *ngIf="loading"></nvry-spinner>

	<div *ngIf="!loading">
		<div class="dashboard-overview-box-wrapper">
			<div class="dashboard-overview-box">
				<div class="dashboard-overview-box__column">
					<span class="title">{{ 'general.income' | translate }} ({{ 'general.net' | translate }})</span>
					<span class="amount">&euro; {{ data?.income.totalNet | nvryNumber }}</span>
				</div>
				<div class="dashboard-overview-box__column">
					<span class="title">{{ 'general.expenses' | translate }} ({{ 'general.net' | translate }})</span>
					<span class="amount">&euro; {{ data?.expense.totalNet | nvryNumber }}</span>
				</div>
			</div>
			<small>{{ 'dashboard.current_year_notice' | translate }}</small>
		</div>

		<h2 class="page-headline">{{ 'dashboard.income_expenses' | translate }}</h2>
	</div>

	<div class="ct-chart"></div>
</div>

