<div class="dashboard-page">
	<ff-spinner *ngIf="loading"></ff-spinner>

	<div *ngIf="data" style="margin-bottom: 20px; margin-left: 30px;">
		<nvry-year-selection [(year)]="year" (yearChange)="yearChanged()"></nvry-year-selection>
	</div>

	<div class="dashboard-wrapper" *ngIf="data">
		<div class="dashboard-box">
			<h2 class="title">{{ 'dashboard.profit' | translate }} ({{'general.net' | translate}})</h2>
			<p class="small">{{ year }}</p>

			<div class="number">€ {{ data?.revenue.totalNet | ffNumber }}</div>
			<p class="small" *ngIf="profitInfo">{{ profitInfo }}</p>

			<div class="revenue-chart"></div>
		</div>
		<div class="dashboard-box">
			<h2 class="title">{{ 'general.invoices' | translate }}</h2>

			<div class="invoice-stats-items">
				<div class="invoice-stats-item">
					<span class="title">{{ 'general.overdue' | translate }}</span>
					<span class="amount color-expenses">€ {{ data.invoice_amounts.overdue | ffNumber }}</span>
				</div>
				<div class="invoice-stats-item">
					<span class="title">{{ 'invoices.open' | translate }}</span>
					<span class="amount color-customers">€ {{ data.invoice_amounts.issued | ffNumber }}</span>
				</div>
				<div class="invoice-stats-item">
					<span class="title">{{ 'general.draft' | translate }}</span>
					<span class="amount color-gray">€ {{ data.invoice_amounts.draft | ffNumber }}</span>
				</div>
			</div>
		</div>

		<div class="dashboard-box dashboard-box--full">
			<h2 class="title">{{ 'dashboard.income_expenses' | translate }}</h2>
			<p class="small">{{ 'general.net' | translate }}</p>
			<div class="income-expense-chart"></div>
		</div>
	</div>
</div>

