.profit-loss {

	.profit-loss__date-selection {
		display: flex;
		align-items: flex-end;
		margin-bottom: 48px;

		nvry-input {
			width: 200px;
			margin-right: 16px;
			margin-bottom: 0;
		}
	}

}
