.vat-report {
	@extend .default-section;
	padding-left: $contentSidePadding;
	padding-top: 30px;

	nvry-year-selection {
		margin-bottom: 30px;
	}

	.vat-report-form-fields {
		margin-bottom: 30px;

		ff-select {
			width: 100px !important;
		}
	}

	&-fields {
		display: flex;

		.mat-form-field {
			margin-right: 16px;
			width: 150px;
		}
	}

	.vat-report-amount-to-pay-container {
		display: flex;
		align-items: center;
		margin-bottom: 20px;

		nvry-spinner {
			width: 30px;
			height: 30px;
			margin: 0;
			margin-left: 10px;
		}
	}

	.vat-report-amount-to-pay {
		border: 2px solid $colorGrayLight;
		display: inline-block;
		padding: 8px;
		border-color: $colorIncome;

		.amount {
			font-weight: bold;
		}

		&.amount-positive {
			border-color: $colorExpenses;
		}
	}

	.vat-report-paper {
		border: 1px solid $colorGrayLight;
		display: block;
		margin: 0 auto;
		padding: 30px;
	}

	.vat-report-category {
		margin-bottom: 50px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.vat-report-field-list {
		list-style: none;
		margin: 0;
		padding: 0;

		li {
			margin-bottom: 20px;

			&:last-child {
				margin-bottom: 0;
			}

			.title {
				@include fontBold;
				display: block;
				float: right;
				line-height: 25px;
				margin-right: 10px;
			}

			.description {
				line-height: 25px;
			}

			.value,
			.value-header {
				display: inline-block;
				float: right;
				text-align: right;
			}

			.value {
				background: $colorGrayUltraLight;
				padding: 3px 5px;
				width: 130px;
				border-width: 1px;
				@apply dark:bg-gray-800;
				@apply dark:border-gray-200;
			}
		}
	}
}
