<section class="settings-section frame">
	<div class="bit-25">
		<h3>{{ 'settings.company.title' | translate }}</h3>
	</div>
	<div class="bit-75">
		<nvry-alert-bar [message]="alertMessage"></nvry-alert-bar>

		<div class="frame frame--bit-spacing">
			<div class="bit-50">
				<ff-input [label]="'general.company' | translate" [(ngModel)]="account.company_name"></ff-input>
				<ff-input [label]="'general.address' | translate" [(ngModel)]="account.address"></ff-input>
				<ff-input [label]="'general.zip' | translate" [(ngModel)]="account.zip"></ff-input>
				<ff-input [label]="'general.city' | translate" [(ngModel)]="account.city"></ff-input>
				<ff-input [label]="'general.country' | translate" [ngModel]="accountCountryName"
							[disabled]="true"></ff-input>
			</div>

			<div class="bit-50">
				<ff-input [label]="'general.email' | translate" [(ngModel)]="account.email" type="email"></ff-input>
				<ff-input [label]="'general.phone' | translate" [(ngModel)]="account.phone"></ff-input>
				<ff-input [label]="'general.website' | translate" [(ngModel)]="account.website"></ff-input>
				<ff-input [label]="'general.vat-id' | translate" [(ngModel)]="account.vat_number"></ff-input>
			</div>
		</div>
		<div class="bit-100">
			<button ff-button [loading]="saving" (click)="save()">{{ 'general.save' | translate }}</button>
		</div>
	</div>
</section>

<section class="settings-section frame">
	<div class="bit-25">
		<h3>{{ 'settings.logo.title' | translate }}</h3>
	</div>
	<div class="bit-75">
		<div class="bit-1">
			<p>{{ 'settings.logo.description' | translate }}</p>
			<nvry-logo-upload [(logo)]="settings.logo" *ngIf="settings"></nvry-logo-upload>
		</div>
	</div>
</section>

<section class="settings-section frame">
	<div class="bit-25">
		<h3>{{ 'settings.bank.title' | translate }}</h3>
	</div>
	<div class="bit-75">
		<div class="bit-1">
			<p>{{ 'settings.bank.description' | translate }}</p>
		</div>
		<div class="frame frame--bit-spacing">
			<div class="bit-50">
				<ff-input [label]="'general.bank_name' | translate" [(ngModel)]="account.bank_name"></ff-input>
				<ff-input [label]="'general.iban' | translate" [(ngModel)]="account.bank_iban"></ff-input>
			</div>
			<div class="bit-50">
				<ff-input [label]="'general.bank_account_owner' | translate"
							[(ngModel)]="account.bank_account_owner"></ff-input>
				<ff-input [label]="'general.bic' | translate" [(ngModel)]="account.bank_bic"></ff-input>
			</div>
		</div>
		<div class="bit-100">
			<button ff-button [loading]="saving" (click)="save()">{{ 'general.save' | translate }}</button>
		</div>
	</div>
</section>

<nvry-export></nvry-export>

<nvry-annual-accounts></nvry-annual-accounts>

