<div class="module-subscription">
	<div class="pricing-plans">
		<div class="buttons">
			<button class="button button--xsmall" (click)="yearly = false" [class.button--gray]="yearly">Monatlich</button>
			<button class="button button--xsmall" (click)="yearly = true" [class.button--gray]="!yearly">Jährlich</button>
		</div>
		<div class="pricing-plan-wrapper">
			<div class="pricing-plan">
				<h2 class="title">Kostenlos</h2>

				<p>
					<span class="price">&euro; 0,-</span>
					<span class="price-notice">für immer.</span>
				</p>

				<ul class="feature-list">
					<li><nvry-icon name="tick"></nvry-icon> Rechnungserstellung</li>
					<li><nvry-icon name="tick"></nvry-icon> Kundenverwaltung</li>
					<li class="feature-not-included"><nvry-icon name="cross"></nvry-icon> Einnahmen</li>
					<li class="feature-not-included"><nvry-icon name="cross"></nvry-icon> Ausgaben</li>
					<li class="feature-not-included"><nvry-icon name="cross"></nvry-icon> Zahlungsbuchung</li>
					<li class="feature-not-included"><nvry-icon name="cross"></nvry-icon> UVA Bericht</li>
				</ul>
			</div>
			<div class="pricing-plan">
				<h2 class="title">Pro</h2>

				<p>
					<span class="price">&euro; <span class="pro-price">{{ proPrice }}</span>,-</span>
					<span class="price-notice">pro Monat<span class="yearly-note" *ngIf="yearly">, bezahlt jährlich</span>.</span>
				</p>

				<ul class="feature-list">
					<li><nvry-icon name="tick"></nvry-icon>
						Rechnungserstellung
					</li>
					<li><nvry-icon name="tick"></nvry-icon>
						Kundenverwaltung
					</li>
					<li><nvry-icon name="tick"></nvry-icon>
						Einnahmen
					</li>
					<li><nvry-icon name="tick"></nvry-icon>
						Ausgaben
					</li>
					<li><nvry-icon name="tick"></nvry-icon>
						Zahlungsbuchung
					</li>
					<li><nvry-icon name="tick"></nvry-icon>
						UVA Bericht
					</li>
				</ul>

				<div>
					<nvry-button (click)="openPaymentModal()">Jetzt testen</nvry-button>
					<div>
						<small>Gratis für 30 Tage</small>
					</div>
				</div>
			</div>
		</div>

		<p class="pricing-plan-notice">Alle Preise exklusive Umsatzsteuer.</p>
	</div>
</div>
