<div class="content-column">

	<section *ngIf="currentStepIndex == 0" class="plans">
		<h2>Wähle einen Zahlungsintervall</h2>
		<small></small>

		<div class="plan" *ngFor="let plan of plans" [class.plan--selected]="isPlanSelected(plan)">
			<div class="plan__inner" (click)="selectPlan(plan)">
				<div class="plan__info">
					<h3 class="plan__title">{{ plan.title }} <span *ngIf="plan.savings" class="plan__savings">Spare {{ plan.savings }}%!</span></h3>
					<div class="plan__price">&euro; {{ plan.price }},-</div>
					<div class="plan__note">{{ plan.note }}</div>
				</div>
			</div>
		</div>
	</section>

	<section *ngIf="currentStepIndex == 1">
		<h2>Rechnungsdetails</h2>
		<p>Rechnungen werden an die Firmendaten aus deinen Account Einstellungen ausgestellt. Prüfe und aktualisiere bei Bedarf deine Eingaben.</p>
		<form [formGroup]="accountForm" class="account-form">
			<ff-input [label]="'general.company' | translate" [formControl]="accountForm.controls.company_name"></ff-input>
			<ff-input [label]="'general.address' | translate" [formControl]="accountForm.controls.address"></ff-input>

			<div class="flex-row">
				<ff-input [label]="'general.zip' | translate" [formControl]="accountForm.controls.zip"></ff-input>
				<ff-input [label]="'general.city' | translate" [formControl]="accountForm.controls.city"></ff-input>
			</div>

			<div class="flex-row">
				<ff-input [label]="'general.country' | translate"
							[disabled]="true" placeholder="Österreich"></ff-input>
				<ff-input [label]="'general.vat-id' | translate" [formControl]="accountForm.controls.vat_number"></ff-input>
			</div>
		</form>
	</section>

	<!-- Card numbers
    4111 1111 1111 1111: Visa
    5555 5555 5555 4444: MasterCard
    3714 496353 98431: American Express
    -->

	<section [hidden]="currentStepIndex !== 2" class="payment-form">

		<header class="payment-form__header">
			<h2>Zahlungsmethode</h2>
			<a href="https://www.braintreegateway.com/merchants/{{ merchantId }}/verified" target="_blank" class="braintree-badge">
				<img src="https://s3.amazonaws.com/braintree-badges/braintree-badge-wide-light.png">
			</a>
		</header>

		<div [hidden]="isPayPalAccountLinked()">
			<p>Wir akzeptieren alle gängigen Kreditkarten sowie PayPal.</p>

			<div class="form-container">
				<form id="credit-card-form" class="scale-down">
					<div class="cardinfo-card-number">
						<label class="cardinfo-label" for="card-number">Kartennummer</label>
						<div class='input-wrapper' id="card-number"></div>
						<div id="card-image"></div>
					</div>

					<div class="cardinfo-wrapper">
						<div class="cardinfo-exp-date">
							<label class="cardinfo-label" for="expiration-date">Gültig bis</label>
							<div class='input-wrapper' id="expiration-date"></div>
						</div>

						<div class="cardinfo-cvv">
							<label class="cardinfo-label" for="cvv">Prüfnummer</label>
							<div class='input-wrapper' id="cvv"></div>
						</div>
					</div>
				</form>
			</div>

			<div class="payment-separator">
				<span>oder</span>
			</div>

			<div>
				<button ff-button id="paypal-button">
					<img src="assets/images/paypal.svg" alt="Mit PayPal bezahlen">
				</button>
			</div>
		</div>

		<ng-template #payPalInfoTemplate [ngIf]="isPayPalAccountLinked()">
			<div class="paypal-box">
				<img src="assets/images/paypal-color.svg" alt="PayPal">

				<div class="paypal-box__bottom">
					<div>
						{{ payPalInfo.name }}<br>
						{{ payPalInfo.email }}
					</div>
					<button ff-button class="ff-button--secondary" (click)="removePayPalLink()">Entfernen</button>
				</div>
			</div>
		</ng-template>
	</section>

	<section *ngIf="currentStepIndex === 3" class="review-step">

		<h2>Zusammenfassung deiner Daten</h2>

		<p>Um deinen Plan zu aktivieren, klicke den Button rechts unten.</p>

		<div class="box">
			<h3 class="label">Rechnungsdetails</h3>
			<p>{{ getAddressInfo() }}</p>

			<div class="flex-row">
				<div>
					<h3  class="label">Deine Zahlung</h3>
					<p>{{ getSelectedPlanInfo() }}</p>
				</div>

				<div>
					<h3  class="label">Deine Zahlungsmethode</h3>
					<p>{{ getPaymentInfo() }}</p>
				</div>
			</div>
		</div>
	</section>
</div>

<div class="steps-column">
	<nvry-steps [numberOfSteps]="numberOfSteps" [steps]="stepInfo" [(currentIndex)]="currentStepIndex" (currentIndex)="previousStepSelected()"></nvry-steps>

	<div class="steps-column__bottom">
		<nvry-alert-bar [message]="alertMessage"></nvry-alert-bar>
		<button ff-button [loading]="sending" (click)="goToNextStep()" class="ff-button--block button--l">{{ getNextButtonText() }}</button>
	</div>
</div>
