.login-wrapper {

	color: #fff;

	@include links {
		color: #fff;
	}

	@include form-fields {
		background: $colorGrayUltraDark;
		border: 1px solid $colorGrayUltraDark;
		color: white;

		::placeholder {
			color: #ccc;
		}

		&:focus {
			$lightColor: lighten($colorGrayUltraDark, 5%);
			background: $lightColor;
			border-color: $lightColor;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover,
		&:-webkit-autofill:focus,
		&:-webkit-autofill:active {
			-webkit-box-shadow: 0 0 0px 1000px $colorGrayUltraDark inset;
			-webkit-text-fill-color: white !important;
		}
	}

	label {
		color: #fff;
		font-weight: normal;
		text-transform: none;
		font-size: $fontSize;
	}

	.inner {
		padding: 54px 50px;
		position: relative;
	}

	.background {
		width: 100%;
		height: 100%;
		position: fixed;
		background: $colorGray url("/assets/images/login-bg.jpg");
		background-size: cover;
	}

	.content-wrapper {
		padding-top: 50px;
	}

	.top-notice {
		text-align: right;
	}

	.logo {
		margin-bottom: 0;
	}

	.header {
		text-align: center;
		padding: 30px 0;

		.sub {
			font-weight: $fontWeightLight;
			font-size: 28px;
		}
	}

	.default-form-wrapper {
		max-width: 270px;
		margin: 0 auto;
	}

	.default-form-description {
		text-align: center;
	}

	.after-form {
		text-align: center;
		margin-top: 25px;
	}

	.small-print {
		font-size: 12px;
		line-height: 16px;
		color: #fff;
		text-decoration: none;
	}

	.control-message {
		$formErrorBackgroundColor: rgba(0, 0, 0, .5);
		color: #fff;
		position: absolute;
		left: 100%;
		top: 50%;
		max-width: 230px;
		min-width: 150px;
		background: $formErrorBackgroundColor;
		border-radius: $defaultBorderRadius;
		padding: 6px 10px;
		margin-left: 10px;
		font-size: 12px;
		transform-origin: -6px 0;
		transform: translate3d(0, -50%, 0) scale(1);

		&:before {
			$formErrorArrowSize: 6px;
			content: '';
			display: block;
			position: absolute;
			right: 100%;
			top: 50%;
			margin-top: -$formErrorArrowSize;
			border-right: $formErrorArrowSize solid $formErrorBackgroundColor;
			border-top: $formErrorArrowSize solid transparent;
			border-bottom: $formErrorArrowSize solid transparent;
		}
	}

}
