.datepicker-top-left,
.datepicker-top-right {
	border-top-color: $colorPrimary;

	&:before {
		border-bottom-color: $colorPrimary;
	}
}

.datepicker-panel > ul > li.picked,
.datepicker-panel > ul > li.picked:hover {
	color: $colorPrimary;
}