.pika-single {
    font-family: inherit;
}

.pika-table {
    abbr {
        cursor: default;
    }

    .is-selected.is-today {
        .pika-button {
            color: white;
        }
    }
}

.pika-button {
    &:hover {
        background: $colorGrayMedium;
    }

    .is-selected & {
        background: $colorPrimary;
        box-shadow: none;
    }

    .is-today & {
        color: $colorPrimary;
    }
}
