<div class="page-row page-header">
	<nvry-button class="button--no-margin create-button" (click)="createCustomer()" icon="plus">{{ 'customers.create' |
		translate }}
	</nvry-button>
</div>

<nvry-table [rows]="customers"
			[options]="tableOptions"
			[loading]="loading"
			(onRowClicked)="editCustomer($event)">

	<div empty class="empty-view">
		<p class="title" [innerHTML]="'customers.empty-state-message' | translate"></p>
		<nvry-button icon="plus" (click)="createCustomer()">{{ 'customers.create' | translate }}</nvry-button>
	</div>

</nvry-table>

<template #actionsColumn let-row="row" let-value="value">
	<nvry-dropdown>
		<button (click)="editCustomer(row)">{{ 'actions.view' | translate }}</button>
		<button (click)="deleteCustomer(row)">{{ 'actions.delete' | translate }}</button>
	</nvry-dropdown>
</template>
