@mixin chartSeriesColor($color) {
	.ct-point,
	.ct-line,
	.ct-bar,
	.ct-slice-donut {
		stroke: $color;
	}

	.ct-area {
		fill: $color;
		fill-opacity: .08;
	}
}


.nvry-dashboard {
	.revenue-chart {
		.ct-label {
			font-size: 10px;
			font-weight: normal;
			color: $colorGrayMedium;
			text-transform: uppercase;

			&.ct-horizontal {
				top: 10px;
				position: relative;
			}
		}

		.ct-point {
			display: none;
		}

		.ct-grid {
			stroke-dasharray: none;
			stroke: rgba(0, 0, 0, 0.1);
		}

		.ct-line {
			stroke-width: 2px;
		}

		.ct-series-a {
			@include chartSeriesColor($colorPrimary);
		}
	}

	.income-expense-chart {
		svg {
			overflow: visible;
		}

		.ct-label {
			font-size: 10px;
			color: $colorGrayMedium;
			text-transform: uppercase;

			&.ct-horizontal {
				top: 5px;
				position: relative;
			}
		}

		.ct-grid {
			stroke-dasharray: none;
			stroke: rgba(0, 0, 0, 0.1);
		}

		.ct-line {
			stroke-width: 2px;
		}

		.ct-series-a {
			@include chartSeriesColor($colorIncome);
		}
		.ct-series-b {
			@include chartSeriesColor($colorExpenses);
		}
	}
}
