.expenses-component-page-header {
    @include display(flex);
    @include align-items(center);

    .create-button {
        margin-left: auto;
    }
}

.expense-edit {
    .button-row {
        @include display(flex);
        padding-bottom: 30px;

        .buttons {
            @include display(flex);
            @include align-items(center);
            margin-left: auto;
        }

        nvry-button {
            margin-right: 10px;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

nvry-month-selection {
    margin-right: 30px;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        @include display(flex);
        @include align-items(center);

        li {
            margin: 0;
            padding: 0;

            button {
                color: $colorGray;
                text-transform: uppercase;
                width: 45px;
                line-height: $fontSizeLarge;
            }

            &.selected {
                button {
                    color: $colorPrimary;
                    font-size: $fontSizeLarge;
                }
            }
        }
    }
}


.category-selection {
    @include display(flex);
    @include flex-direction(column);
    @include flex-wrap(wrap);
    max-height: 800px;

    .category-selection__column {
        width: 33.333%;
        margin-bottom: 30px;

        h3 {
            @include fontBold;
        }
    }

    .category {
        display: block;
        padding-left: 0;
        margin-bottom: 0;
        padding-top: 2px;
        text-align: left;
        padding-bottom: 2px;
        @include transition(color .25s ease);

        &:hover {
            color: $colorPrimary;
        }
    }
}
