.document-upload-wrapper {
	padding-right: 30px;
}

.income-edit-page {

	.left-column {
		padding-left: 0;
	}

	.right-buttons {
		float: right;

		.btn {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.combined-fields {
	display: flex;

	.combined-fields__side {
		width: 50%;

		&:first-child {
			input,
			.select2-selection--single {
				border-top-right-radius: 0;
				border-bottom-right-radius: 0;
			}
		}

		&:last-child {
			input,
			.select2-selection--single {
				border-left-width: 0;
				border-top-left-radius: 0;
				border-bottom-left-radius: 0;
			}
		}
	}
}

.attachment-indicator-icon {
	width: 17px;
	height: 17px;
	display: block;
}
