$invoiceBadgeWidth: 80px;

nvry-invoices {
	.page-header .mat-form-field-wrapper {
		padding-bottom: 0;
		margin: 0;
	}
}

.invoice-list-table {

	td {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.badge {
		width: $invoiceBadgeWidth;
	}

}

.invoice-stats {
	&__item {
		width: 150px;

		.title {
			display: block;
		}

		.amount {
			font-size: 20px;
		}
	}

	&__row {
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
	}

	&__notice {
		color: $colorGrayMedium;
		font-size: 11px;
	}
}



.invoice-payment-notice {
	@include fontBold;

	i {
		color: $colorSuccess;
		font-size: 24px;
		display: inline-block;
		margin-right: 5px;
	}

	button {
		font-size: 18px;

		&:hover {
			color: $colorPrimary;
		}
	}
}

.invoice-edit-badge {
	margin-left: 16px;
	width: $invoiceBadgeWidth;
}

.invoice-edit-paper {
	border: 1px solid $colorGrayLight;
}

.invoice-edit-paper-section {
	padding: 30px 36px;
	border-bottom: 1px solid $colorGrayLight;

	&:last-child {
		border-bottom: 0;
	}
}

.invoice-edit-customer-name-wrapper {
	position: relative;

	.invoice-edit-customer-link-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;

		display: flex;
		align-items: center;

		.invoice-edit-customer-link-button-wrapper {
			margin-left: 8px;
		}
	}
}

.customer-area {
	padding-right: 80px;
}

.number-field {
	text-align: right;
}

.invoice-lines-container .header {
	@extend .cf;
	margin-bottom: 10px;

	span {
		display: inline-block;
		float: left;
		font-weight: bold;
	}

	.title-header {
		width: 42%;
	}
	.quantity-header {
		width: 8%;
	}
	.unit-header {
		width: 10%;
	}
	.price-header {
		width: 14%;
	}
	.taxrate-header {
		width: 7%;
	}
	.amount-header {
		width: 14%;
	}
}

nvry-invoice-line {
	@extend .cf;
	margin-bottom: 16px;
	display: block;
	position: relative;

	ff-input,
	ff-select {
		margin-bottom: 0;
	}

	.invoice-line__row {
		display: flex;
	}

	.invoice-line__sort {
		display: flex;
		position: absolute;
		left: -36px;
		align-items: center;
		width: 40px;
		height: 40px;

		.icon {
			fill: $colorGrayMedium;
			width: 18px;
			height: 24px;
			cursor: pointer;
			display: none;
		}
	}

	&:hover {
		.invoice-line__sort {
			.icon {
				display: block;
			}
		}
	}

	.title-field,
	.description-field {
		width: 42%;
	}
	.quantity-field {
		width: 8%;
		text-align: right;
	}
	.unit-field {
		width: 10%;
	}
	.price-field {
		width: 14%;
	}
	.amount-field {
		width: 14%;
	}
	.taxrate-field {
		width: 7%;
	}

	nvry-dropdown {
		width: 5%;
	}

	.description-field {
		display: none;
		margin-bottom: 15px;

		textarea {
			min-height: 80px;
			max-height: 200px;
		}

		&.description-field--visible,
		&:hover,
		&:focus {
			display: block;
		}
	}
}

.invoice-total {
	text-align: right;

	.total-indicator {
		width: 40%;
		display: inline-block;
	}

	.line.line--total {
		font-size: 20px;
		font-weight: bold;
	}

}
