.invoice-list-table {

	td {
		padding-top: 5px;
		padding-bottom: 5px;
	}

	.badge {
		width: 80px;
	}

}

.invoice-stats {
	display: flex;
	padding-top: 10px;
	padding-bottom: 10px;

	.invoice-stats__item {
		width: 150px;

		.title {
			display: block;
		}

		.amount {
			font-size: 20px;
		}
	}
}

.invoice-payment-notice {
	@include fontBold;

	i {
		color: $colorSuccess;
		font-size: 24px;
		display: inline-block;
		margin-right: 5px;
	}

	button {
		font-size: 18px;

		&:hover {
			color: $colorPrimary;
		}
	}
}

.invoice-edit-paper {
	border: 1px solid $colorGrayLight;
}

.invoice-edit-paper-section {
	padding: 30px;
	border-bottom: 1px solid $colorGrayLight;

	&:last-child {
		border-bottom: 0;
	}
}

.invoice-edit-customer-name-wrapper {
	position: relative;

	.invoice-edit-customer-edit-link-wrapper {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;

		display: flex;
		align-items: center;

		.invoice-edit-customer-edit-link {
			margin-right: 10px;
		}
	}
}

.customer-area {
	padding-right: 80px;
}

.number-field {
	text-align: right;
}

.invoice-lines-container .header {
	@extend .cf;
	margin-bottom: 10px;

	span {
		display: inline-block;
		float: left;
		font-weight: bold;
	}

	.title-header {
		width: 42%;
	}
	.quantity-header {
		width: 8%;
	}
	.unit-header {
		width: 10%;
	}
	.price-header {
		width: 14%;
	}
	.taxrate-header {
		width: 7%;
	}
	.amount-header {
		width: 14%;
	}
}

nvry-invoice-line {
	@extend .cf;
	margin-bottom: 15px;

	.invoice-line__row {
		display: flex;
	}

	.title-field,
	.description-field {
		width: 42%;
	}
	.quantity-field {
		width: 8%;
		text-align: right;
	}
	.unit-field {
		width: 10%;
	}
	.price-field {
		width: 14%;
	}
	.amount-field {
		width: 14%;
	}
	.taxrate-field {
		width: 7%;
	}

	nvry-dropdown {
		width: 5%;
	}

	.description-field {
		display: none;
		margin-bottom: 15px;

		textarea {
			min-height: 80px;
			max-height: 200px;
		}

		&.description-field--visible,
		&:hover,
		&:focus {
			display: block;
		}
	}
}

.invoice-total {
	text-align: right;

	.total-indicator {
		width: 40%;
		display: inline-block;
	}

	.line.line--total {
		font-size: 20px;
		font-weight: bold;
	}

}
