.payments-table {
	.mat-column-status {
		width: 150px;
	}

	.mat-column-amount {
		width: 230px;
	}

	.mat-column-date {
		width: 100px;
	}

	.mat-column-link {
		width: 300px;
	}
}

.nvry-book-payment-list {
	.mat-column-number {
		flex: 0 0 100px;
	}

	.mat-column-amount {
		flex: 0 0 200px;
	}

	.mat-column-date {
		flex: 0 0 180px;
	}
}

nvry-book-payment {

	.add-payment-form {
		display: flex;

		ff-input {
			margin: 0;
			margin-right: 20px;
			width: 40%;

			&:last-child {
				margin-right: 0;
			}

			&.description {
				width: 100%;
			}

			&.amount {
				input {
					color: $colorIncome;
				}

				&.amount--expense {
					input {
						color: $colorExpenses;
					}
				}
			}
		}
	}
}
