
.settings-section {
	border-bottom: 1px solid $colorGrayLight;
	@extend .default-section;
	padding: 30px 0;
	padding-left: $contentSidePadding;

	&.settings-section--no-border {
		border: 0;
		margin-bottom: 30px;
	}
}

.export-section {
	.export-fields {
		display: flex;

		ff-input,
		nvry-select {
			width: 150px;
			margin-right: 10px;
			margin-bottom: 0;
		}

		.ff-button {
			align-self: flex-end;
		}
	}
}

.logo-upload {
	margin-top: 20px;
	display: block;

	.logo-upload__img-wrapper {
		position: relative;
		display: inline-block;
		width: 150px;
	}

	.logo-upload__area {
		transition: border-color .25s ease;
		border: 2px dashed $colorGray;
		width: 230px;
		height: 120px;
		text-align: center;
		color: $colorGray;
		display: flex;
		align-items: center;
		justify-content: center;

		&.dz-drag-hover {
			border-color: $colorPrimary;
		}

		.logo-upload__area__content {

		}
	}

	.logo-upload__remove-button {
		$removeButtonSize: 25px;
		background-color: $colorGray;
		fill: white;
		border-radius: 999px;
		width: $removeButtonSize;
		height: $removeButtonSize;
		position: absolute;
		top: -($removeButtonSize/2);
		right: -($removeButtonSize/2);
		display: flex;
		align-items: center;
		justify-content: center;

		.ff-icon,
		nvry-spinner {
			width: 18px;
			height: 18px;
			margin: 0;
		}

		nvry-spinner svg path {
			stroke: white !important;
		}
	}
}
