.settings-module {

	.settings-section {
		border-bottom: 1px solid $colorGrayLight;
		@extend .default-section;
        padding: 30px 0;
        padding-left: $contentSidePadding;

		&.settings-section--no-border {
			border: 0;
			margin-bottom: 30px;
		}
	}

	.export-section {
		.select2 {
			display: inline-block;
			vertical-align: middle;
			margin-right: 20px;
		}

		.formfield-wrapper {
			display: inline-block;
			vertical-align: middle;
			margin-right: 10px;
		}

		.button {
			display: inline-block;
			vertical-align: bottom;
		}
	}
}
