<div class="page-header page-header--no-bottom-padding">
	<button ff-button class="ff-button--clear" [routerLink]="['/income/invoices']">
		<mat-icon>keyboard_arrow_left</mat-icon> {{ 'invoices.title' | translate }}
	</button>
	<hr>
</div>
<div [hidden]="loading">
	<div class="flex items-center py-6 default-section">
		<h1 class="module-title">
			<span *ngIf="!createMode && !invoice.draft">{{ 'invoices.edit_title' | translate:{ number: invoiceNumber } }}</span>
			<span *ngIf="!createMode && invoice.draft">{{ 'invoices.edit_title_draft' | translate }}</span>
			<span *ngIf="createMode">{{ 'invoices.create_title' | translate }}</span>
		</h1>

		<ff-badge class="ml-4" [type]="badgeData.type" *ngIf="getBadgeData() as badgeData">{{ badgeData.text }}</ff-badge>

		<div class="flex space-x-3 ml-auto">
			<button ff-button class="ff-button--secondary" [matMenuTriggerFor]="menu" *ngIf="invoice.id || (!invoice.draft && !invoice.canceled)">
				<mat-icon>more_vert</mat-icon>
			</button>

			<mat-menu #menu="matMenu">
				<button mat-menu-item (click)="showPreview()" *ngIf="invoice.id">
					{{ 'invoices.preview' | translate }}
				</button>

				<button mat-menu-item (click)="downloadPDF()" *ngIf="invoice.id">
					{{ 'actions.download' | translate }}
				</button>

				<button mat-menu-item (click)="cancelInvoice()" *ngIf="!invoice.draft && !invoice.canceled">
					{{ 'invoices.cancel' | translate }}
				</button>

				<button mat-menu-item (click)="sendEmail()" *ngIf="!invoice.draft && !invoice.canceled && invoice.customer">
					{{ 'invoices.send-email' | translate }}
				</button>
			</mat-menu>

			<button ff-button class="ff-button--secondary"
						 (click)="saveDraft()"
						 [disabled]="saving"
						 [loading]="saving && savingDraft"
						 *ngIf="createMode || invoice.draft">
				{{ 'invoices.save-draft' | translate }}
			</button>

			<button ff-button (click)="saveOnly()"
						 class="ff-button--secondary"
						 [loading]="saving && !savingDraft"
						 *ngIf="!invoice.draft">{{ 'general.save' | translate }}</button>

			<button ff-button (click)="addPayment()" *ngIf="canAddPayment()">{{ 'general.book-payment' | translate }}</button>

			<button ff-button (click)="saveAndIssue()"
						 [loading]="saving && !savingDraft"
						 *ngIf="invoice.draft"
						 [disabled]="savingDraft">{{ 'invoices.issue' | translate }}
			</button>
		</div>
	</div>

	<div class="default-section" *ngIf="invoice.payments.length">
		<h3 class="font-medium mb-1">{{ 'general.payments' | translate }}</h3>
		<div class="mb-4 space-y-2">
			<nvry-booked-payment *ngFor="let payment of invoice.payments" [payment]="payment" (onRemove)="removePaymentLink(payment)"></nvry-booked-payment>
		</div>
	</div>

	<div class="default-section">
		<div class="invoice-edit-paper">

			<div class="invoice-edit-paper-section">
				<div class="frame">

					<nvry-invoice-edit-customer [invoice]="invoice"></nvry-invoice-edit-customer>

					<div class="bit-50">
						<div class="frame frame--bit-spacing">
							<div class="bit-50">
								<ff-input [(ngModel)]="invoice.group_prefix" [disabled]="!invoice.draft"
										  [label]="'invoices.group-prefix' | translate"></ff-input>
							</div>
							<div class="bit-50">
								<ff-input [formControl]="form.controls.number"
											[(ngModel)]="invoice.number"
											[label]="'invoices.number' | translate"
											[placeholder]="invoice.group_prefix ? '' : nextInvoiceNumber"
											[disabled]="!invoice.draft"></ff-input>
							</div>
						</div>
						<div class="frame frame--bit-spacing">
							<div class="bit-50">
								<ff-input type="date"
											[formControl]="form.controls.date"
											[(ngModel)]="invoice.date"
											[label]="'general.date' | translate"></ff-input>
								<ff-input type="date"
											[formControl]="form.controls.service_date_start"
											[(ngModel)]="invoice.service_date_start"
											[label]="'invoices.service-date-start' | translate"></ff-input>
							</div>
							<div class="bit-50">
								<ff-input type="date" [formControl]="form.controls.due_date"
											[(ngModel)]="invoice.due_date"
											[label]="'invoices.date-due' | translate"></ff-input>
								<ff-input type="date" [formControl]="form.controls.service_date_end"
											[(ngModel)]="invoice.service_date_end"
											[label]="'invoices.service-date-end' | translate"></ff-input>

								<ff-select
									[label]="'general.language' | translate"
									[options]="locales"
									[selectedValue]="invoice.locale"
									(selectedValueChange)="localeChanged($event)"></ff-select>

							</div>
						</div>
					</div>
				</div>
			</div>

			<nvry-invoice-lines-edit [(lines)]="invoice.lines"></nvry-invoice-lines-edit>

			<div class="invoice-edit-paper-section invoice-total">
				<nvry-total-indicator [totalNet]="getTotalNet()" [totalGross]="getTotalGross()" [rates]="getOccuringTaxRates()"></nvry-total-indicator>
			</div>

			<div class="invoice-edit-paper-section">
				<ff-textarea [label]="'general.note' | translate" [placeholder]="'invoices.comment-placeholder' | translate" [(ngModel)]="invoice.comment"></ff-textarea>
			</div>
		</div>
	</div>


</div>

<ff-spinner *ngIf="loading"></ff-spinner>
