<div class="page-header">
	<div class="invoice-stats" *ngIf="!loading">
		<div class="invoice-stats__item">
			<span class="title">{{ 'general.overdue' | translate }}</span>
			<span class="amount color-expenses">{{ getOverdueAmount() | nvryNumber }}</span>
		</div>
		<div class="invoice-stats__item">
			<span class="title">{{ 'invoices.open' | translate }}</span>
			<span class="amount color-customers">{{ getIssuedAmount() | nvryNumber }}</span>
		</div>
		<div class="invoice-stats__item">
			<span class="title">{{ 'general.draft' | translate }}</span>
			<span class="amount color-gray">{{ getDraftAmount() | nvryNumber }}</span>
		</div>
		<div class="invoice-stats__item">
			<span class="title">{{ 'general.total' | translate }}</span>
			<span class="amount">{{ getTotalAmount() | nvryNumber }}</span>
		</div>
	</div>


	<nvry-button icon="plus" class="create-button" (click)="createInvoice()">
		{{ 'invoices.new' | translate }}
	</nvry-button>
</div>

<nvry-table [options]="tableOptions" [loading]="loading" [rows]="invoices" (onRowClicked)="editInvoice($event)"
			class="invoice-list-table">

	<div empty class="empty-view">
		<p class="title" [innerHTML]="'invoices.empty-state-message' | translate"></p>
		<nvry-button icon="plus" class="create-button" (click)="createInvoice()">{{ 'invoices.new' | translate }}
		</nvry-button>
	</div>

</nvry-table>

<ng-template #statusColumn let-row="row" let-value="value">
	<div class="badge badge--{{ getBadgeData(row).cssClass }}">
		<span clasS="badge__text">{{ getBadgeData(row).text }}</span>
	</div>
</ng-template>

<ng-template #actionsColumn let-row="row" let-value="value">
	<nvry-dropdown>
		<button (click)="editInvoice(row)">{{ 'actions.view' | translate }}</button>
		<button (click)="deleteInvoice(row)">{{ 'actions.delete' | translate }}</button>
	</nvry-dropdown>
</ng-template>

