<div class="page-header">
	<div class="invoice-stats" *ngIf="!loading">
		<div class="invoice-stats__item">
			<span class="title">{{ 'general.overdue' | translate }}</span>
			<span class="amount color-expenses">{{ getOverdueAmount() | ffNumber }}</span>
		</div>
		<div class="invoice-stats__item">
			<span class="title">{{ 'invoices.open' | translate }}</span>
			<span class="amount color-customers">{{ getIssuedAmount() | ffNumber }}</span>
		</div>
		<div class="invoice-stats__item">
			<span class="title">{{ 'general.draft' | translate }}</span>
			<span class="amount color-gray">{{ getDraftAmount() | ffNumber }}</span>
		</div>
		<div class="invoice-stats__item">
			<span class="title">{{ 'general.total' | translate }}</span>
			<span class="amount">{{ getTotalAmount() | ffNumber }}</span>
		</div>
	</div>


	<button ff-button icon="plus" class="create-button" (click)="createInvoice()">
		{{ 'invoices.new' | translate }}
	</button>
</div>

<ff-table [options]="tableOptions" [loading]="loading" [rows]="invoices" (onRowClicked)="editInvoice($event)"
			class="invoice-list-table">

	<div empty class="empty-view">
		<p class="title" [innerHTML]="'invoices.empty-state-message' | translate"></p>
		<button ff-button icon="plus" class="create-button" (click)="createInvoice()">{{ 'invoices.new' | translate }}
		</button>
	</div>

</ff-table>

<ng-template #statusColumn let-row="row" let-value="value">
	<nvry-badge [type]="getBadgeData(row).cssClass" [text]="getBadgeData(row).text"></nvry-badge>
</ng-template>

<ng-template #actionsColumn let-row="row" let-value="value">
	<ff-dropdown>
		<button (click)="editInvoice(row)">{{ 'actions.view' | translate }}</button>
		<button (click)="copyInvoice(row)">{{ 'actions.copy' | translate }}</button>
		<button (click)="deleteInvoice(row)">{{ 'actions.delete' | translate }}</button>
	</ff-dropdown>
</ng-template>

