<div class="page-header page-header--no-bottom-padding">
	<button ff-button class="ff-button--clear" [routerLink]="['/invoices']" icon="arrow-left">
		{{ 'invoices.title' | translate }}
	</button>
	<hr>
</div>
<div [hidden]="loading">
	<div class="page-row button-row">
		<h1 class="module-title">
			<span *ngIf="!createMode && !invoice.draft">{{ 'invoices.edit_title' | translate:{ number: invoice.number } }}</span>
			<span *ngIf="!createMode && invoice.draft">{{ 'invoices.edit_title_draft' | translate }}</span>
			<span *ngIf="createMode">{{ 'invoices.create_title' | translate }}</span>
		</h1>
		<div class="buttons">
			<button ff-button icon="download"
						 class="ff-button--secondary"
						 (click)="downloadPDF()"
						 *ngIf="invoice.id">{{ 'actions.download' | translate }}
			</button>

			<button ff-button (click)="showPreview()"
						 class="ff-button--secondary button--icon-medium"
						 icon="eye-outline"
						 *ngIf="invoice.id">{{ 'invoices.preview' | translate }}
			</button>

			<button ff-button class="ff-button--secondary"
						 (click)="saveDraft()"
						 [disabled]="saving"
						 [loading]="saving && savingDraft"
						 *ngIf="createMode || invoice.draft">
				{{ 'invoices.save-draft' | translate }}
			</button>

			<button ff-button (click)="saveOnly()"
						 class="ff-button--secondary"
						 [loading]="saving && !savingDraft"
						 *ngIf="!invoice.draft">{{ 'general.save' | translate }}</button>

			<button ff-button (click)="addPayment()" *ngIf="!invoice.draft && !invoice.isFullyPaid">{{ 'general.book-payment' | translate }}</button>

			<button ff-button (click)="saveAndIssue()"
						 [loading]="saving && !savingDraft"
						 *ngIf="invoice.draft"
						 [disabled]="savingDraft">{{ 'invoices.issue' | translate }}
			</button>
		</div>
	</div>

	<div class="default-section" *ngIf="invoice.payments.length">
		<h3>{{ 'general.payments' | translate }}</h3>
		<div>
			<nvry-booked-payment *ngFor="let payment of invoice.payments" [payment]="payment" (onRemove)="removePaymentLink(payment)"></nvry-booked-payment>
		</div>
	</div>

	<div class="default-section">
		<div class="invoice-edit-paper">

			<div class="invoice-edit-paper-section">
				<div class="frame">
					<div class="bit-50 customer-area">
						<div #customerName class="invoice-edit-customer-name-wrapper">

							<div class="invoice-edit-customer-link-wrapper">
								<ng-template  [ngIf]="invoice.customer">
									<a  class="invoice-edit-customer-link"
										href="javascript:void(0)"
										(click)="editCustomer()">
										{{ 'invoices.edit-customer' | translate }}
									</a>

									<div class="invoice-edit-customer-link-button-wrapper">
										<!--<button class="button ff-button--mini-rounded" [mdTooltip]="'invoices.remove-customer-link' | translate" (click)="removeCustomerLink()">
											<ff-icon name="cross"></ff-icon>
										</button>-->

										<button class="button ff-button--mini-rounded" (click)="removeCustomerLink()">
											<ff-icon name="cross"></ff-icon>
										</button>
									</div>
								</ng-template>

								<ng-template [ngIf]="invoice.customer_name && !invoice.customer">
									<a href="javascript:void(0)" class="invoice-edit-customer-link" (click)="saveCustomer()">
										{{ 'invoices.save-customer' | translate }}
									</a>
								</ng-template>
							</div>

							<ff-input [label]="'general.customer' | translate"
									[(ngModel)]="invoice.customer_name"></ff-input>
						</div>

						<ff-textarea [label]="'general.address' | translate"
									   [(ngModel)]="invoice.customer_address"></ff-textarea>

						<ff-select [label]="'general.country' | translate" [options]="countries" valueKey="code"
									 [(selectedValue)]="invoice.customer_country_code"></ff-select>
					</div>
					<div class="bit-50">
						<div class="frame frame--bit-spacing">
							<div class="bit-50">&nbsp;</div>
							<div class="bit-50">
								<ff-input [formControl]="form.controls.number"
											[(ngModel)]="invoice.number"
											[label]="'invoices.number' | translate"
											[placeholder]="nextInvoiceNumber"
											[disabled]="!invoice.draft"></ff-input>
							</div>
						</div>
						<div class="frame frame--bit-spacing">
							<div class="bit-50">
								<ff-input type="date"
											[formControl]="form.controls.date"
											[(ngModel)]="invoice.date"
											[label]="'general.date' | translate"></ff-input>
								<ff-input type="date"
											[formControl]="form.controls.service_date_start"
											[(ngModel)]="invoice.service_date_start"
											[label]="'invoices.service-date-start' | translate"></ff-input>
							</div>
							<div class="bit-50">
								<ff-input type="date" [formControl]="form.controls.due_date"
											[(ngModel)]="invoice.due_date"
											[label]="'invoices.date-due' | translate"></ff-input>
								<ff-input type="date" [formControl]="form.controls.service_date_end"
											[(ngModel)]="invoice.service_date_end"
											[label]="'invoices.service-date-end' | translate"></ff-input>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="invoice-edit-paper-section lines">
				<div class="invoice-lines-container">
					<div class="header">
						<span class="title-header">{{ 'general.product' | translate }}</span>
						<span class="quantity-header">{{ 'general.quantity' | translate }}</span>
						<span class="unit-header">{{ 'general.unit' | translate }}</span>
						<span class="price-header">{{ 'general.price-net' | translate }}</span>
						<span class="taxrate-header">{{ 'general.vat-abbr' | translate }}</span>
						<span class="amount-header">{{ 'general.amount_net' | translate }}</span>
					</div>

					<div id="lines-list">
						<nvry-invoice-line [invoiceLine]="line"
										   [deleteShown]="invoice.invoice_lines.length > 1"
										   *ngFor="let line of invoice.invoice_lines"
										   (onDelete)="deleteLine($event)" (onCopy)="copyLine($event)"></nvry-invoice-line>
					</div>
				</div>

				<button ff-button class="ff-button--secondary" (click)="addLine()">{{ 'invoices.new-line' | translate }}</button>
			</div>

			<div class="invoice-edit-paper-section invoice-total">
				<nvry-total-indicator [totalNet]="getTotalNet()" [totalGross]="getTotalGross()" [rates]="getOccuringTaxRates()"></nvry-total-indicator>
			</div>

			<div class="invoice-edit-paper-section">
				<ff-textarea [label]="'general.note' | translate" [placeholder]="'invoices.comment-placeholder' | translate" [(ngModel)]="invoice.comment"></ff-textarea>
			</div>
		</div>
	</div>
</div>

<ff-spinner *ngIf="loading"></ff-spinner>
