<div class="page-header">

    <nvry-month-selection [(selectedMonthIndex)]="selectedMonthIndex" (selectedMonthIndexChange)="filter()"></nvry-month-selection>
    <nvry-year-selection [(year)]="selectedYear" (yearChange)="filter()"></nvry-year-selection>

    <nvry-button icon="plus" class="create-button" (click)="createIncome()">
        {{ 'income.new' | translate }}
    </nvry-button>
</div>

<nvry-table [options]="tableOptions" [rows]="filteredIncomes" [loading]="loading" (onRowClicked)="editIncome($event)">

    <div empty class="empty-view">
        <p class="title">{{ 'income.empty-state-message' | translate }}</p>
        <nvry-button icon="plus" class="create-button" (click)="createIncome()">{{ 'income.new' | translate }}</nvry-button>
    </div>

</nvry-table>


<template #actionsColumn let-row="row" let-value="value">
    <nvry-dropdown>
        <button (click)="editIncome(row)">{{ 'actions.view' | translate }}</button>
        <button (click)="deleteIncome(row)">{{ 'actions.delete' | translate }}</button>
    </nvry-dropdown>
</template>

<template #attachmentColumn let-row="row" let-value="value">
    <nvry-icon name="paperclip" *ngIf="row.file.id" class="attachment-indicator-icon"></nvry-icon>
</template>
