<div class="page-header">

	<nvry-month-selection [(selectedMonthIndex)]="selectedMonthIndex"
						  (selectedMonthIndexChange)="filter()"></nvry-month-selection>
	<nvry-year-selection [(year)]="selectedYear" (yearChange)="filter()"></nvry-year-selection>

	<button ff-button icon="plus" class="create-button" (click)="createIncome()">
		{{ 'income.new' | translate }}
	</button>
</div>

<ff-table [options]="tableOptions" [rows]="filteredIncomes" [loading]="loading" (onRowClicked)="editIncome($event)">

	<div empty class="empty-view">
		<p class="title">{{ 'income.empty-state-message' | translate }}</p>
		<button ff-button icon="plus" class="create-button" (click)="createIncome()">{{ 'income.new' | translate }}
		</button>
	</div>

</ff-table>


<ng-template #actionsColumn let-row="row" let-value="value">
	<nvry-dropdown>
		<button (click)="editIncome(row)">{{ 'actions.view' | translate }}</button>
		<button (click)="copyIncome(row)">{{ 'actions.copy' | translate }}</button>
		<button (click)="deleteIncome(row)">{{ 'actions.delete' | translate }}</button>
	</nvry-dropdown>
</ng-template>

<ng-template #attachmentColumn let-row="row" let-value="value">
	<ff-icon name="paperclip" *ngIf="row.file.id" class="attachment-indicator-icon"></ff-icon>
</ng-template>
