<div class="page-header page-header--no-bottom-padding">
	<button ff-button class="ff-button--clear" [routerLink]="['/income/other']" icon="arrow-left">{{ 'income.other-income' | translate
		}}
	</button>
	<hr>
</div>

<div *ngIf="income && !loading" class="expense-edit">
	<div class="page-row button-row">
		<h1 class="module-title">
			<span *ngIf="income.id">{{ 'income.edit_title' | translate }}</span>
			<span *ngIf="!income.id">{{ 'income.create_title' | translate }}</span>
		</h1>
		<div class="buttons">
			<button ff-button [routerLink]="['/income']" class="ff-button--secondary">{{ 'general.cancel' | translate }}
			</button>
			<button ff-button (click)="addPayment()" *ngIf="isNew && !income.isFullyPaid">{{ 'general.book-payment' | translate }}</button>
			<button ff-button (click)="save()" [loading]="saving">{{ 'general.save' | translate }}</button>
		</div>

	</div>

	<div class="default-section" *ngIf="income.payments?.length">
		<h3 class="font-medium mb-1">{{ 'general.payments' | translate }}</h3>
		<div class="mb-4 space-y-2">
			<nvry-booked-payment *ngFor="let payment of income.payments" [payment]="payment" (onRemove)="removePaymentLink(payment)"></nvry-booked-payment>
		</div>
	</div>

	<div class="frame default-section">
		<div class="bit-60">
			<nvry-document-upload [(file)]="income.file"></nvry-document-upload>
		</div>
		<div class="bit-40 bit--spacing-left">
			<nvry-alert-bar [message]="alertMessage"></nvry-alert-bar>
			<form [formGroup]="form">
				<div class="frame frame--bit-spacing">
					<div class="bit-50">
						<ff-input [placeholder]="nextIncomeNumber"
									[label]="'income.number' | translate"
									[formControl]="form.controls.number"
									[(ngModel)]="income.number"></ff-input>
					</div>
					<div class="bit-50">
						<ff-input type="date" [formControl]="form.controls.date" [label]="'general.date' | translate"
									[(ngModel)]="income.date"></ff-input>
					</div>
				</div>
				<div class="frame">
					<div class="bit-100">
						<ff-input [label]="'general.description' | translate"
									[formControl]="form.controls.description"
									[(ngModel)]="income.description"></ff-input>
					</div>
					<div class="bit-100 combined-fields">
						<div class="combined-fields__side">
							<ff-input type="money" [label]="'general.amount_net' | translate"
										[formControl]="form.controls.price" [(ngModel)]="income.price"></ff-input>
						</div>
						<div class="combined-fields__side">
							<ff-select [label]="'general.taxrate' | translate" [options]="taxRates"
										 [enableSearchField]="false" [selectedValue]="income.tax_rate?.id"
										 (selectedValueChange)="taxRateChanged($event)"></ff-select>
						</div>
					</div>


					<div class="bit-50" *ngIf="income.tax_rate?.rate == 0">
						<ff-select [label]="'income.edit.intra-community' | translate" [options]="euVatTypes"
									 valueKey="value" [(selectedValue)]="income.eu_vat_type"></ff-select>

					</div>
				</div>
			</form>

			<div class="income-total">
				<nvry-total-indicator [totalNet]="getTotalNet()" [totalGross]="getTotalGross()" [rates]="getOccuringTaxRates()"></nvry-total-indicator>
			</div>
		</div>
	</div>
</div>

<div class="page-row" *ngIf="loading">
	<ff-spinner></ff-spinner>
</div>
