<div class="page-header">

</div>

<nvry-table [options]="tableOptions" [rows]="payments" [loading]="loading" class="payments-table">

	<div empty class="empty-view">
		<p class="title">{{ 'payments.empty-state-message' | translate }}</p>
	</div>

</nvry-table>


<ng-template #actionsColumn let-row="row" let-value="value">
	<nvry-dropdown>
		<button (click)="deletePayment(row)">{{ 'actions.delete' | translate }}</button>
	</nvry-dropdown>
</ng-template>

<ng-template #amountColumn let-row="row" let-value="value">
	<span class="payment-amount"
		  [class.payment-amount--negative]="row.amount < 0">{{ value | ffNumber }}</span>
</ng-template>
