.main-header {
	background: white;
	padding: 14px 0;
	border-bottom: 1px solid $colorSpacerLines;

	.main-header__inner {
		display: flex;
		align-items: center;

		.user {
			margin-left: auto;
		}
	}

	.logo {
		font-size: 22px;
		display: inline-block;
		vertical-align: middle;
	}

	.user {
		display: flex;
		align-items: center;

		.user-image {
			width: 30px;
			height: 30px;
			background-color: $colorGrayLight;
			border-radius: 999px;
			margin-right: 10px;
			display: none;
		}

		.dropdown-button {
			width: 20px;
			height: 20px;
			fill: $colorGray;
		}

		.dropdown {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 100%;
			border: 1px solid red;
		}

		.username {
			margin-right: 10px;
		}
	}
}
