.main-header {
	background: white;
	padding: 10px 0;
	border-bottom: 1px solid $colorSpacerLines;

	.main-header__inner {
		display: flex;
		align-items: center;

		.user {
			margin-left: auto;
		}

		.whats-new-badge {
			display: flex;
			align-items: center;
			margin-right: 40px;

			#HW_badge_cont {
				display: flex;
				align-items: center;
				width: 100%;

				&:before {
					content: 'Was ist neu?';
					display: block;
					margin-right: 5px;
				}
			}

			#HW_badge {
				background: $colorPrimary;
				left: auto;
				top: 0;
				right: 0;
				position: relative;

				&.HW_softHidden {
					background: $colorGray;
				}
			}
		}
	}

	.logo {
		display: inline-block;
		vertical-align: middle;
		height: 20px;
		fill: $textColor;
	}

	.user {
		display: flex;
		align-items: center;

		.user-image {
			width: 30px;
			height: 30px;
			background-color: $colorGrayLight;
			border-radius: 999px;
			margin-right: 10px;
			display: none;
		}

		.dropdown-button {
			width: 20px;
			height: 20px;
			fill: $colorGray;
		}

		.dropdown {
			width: 100px;
			height: 100px;
			position: absolute;
			top: 100%;
			border: 1px solid red;
		}

		.username {
			margin-right: 2px;
		}
	}
}
