.main-header {
	background: white;
	padding: 14px 0;
	border-bottom: 1px solid $colorSpacerLines;

	.main-header__inner {
		display: flex;
		align-items: center;

		.user {
			margin-left: auto;
		}
	}

	.logo {
		font-size: 22px;
		display: inline-block;
		vertical-align: middle;
	}

	.user {
		display: flex;
		align-items: center;

		.username {
			margin-right: 10px;
		}
	}
}
