
/**
 * Layout
 */
[class*='bit-'] {
    padding-top: 0;
    padding-bottom: 0;
}

.base-layout {
    height: 100%;
}

.main-header {
	background: white;
	padding: 14px 0;
    border-bottom: 1px solid $colorSpacerLines;

    .main-header__inner {
        @include display(flex);
        @include align-items(center);

        .user {
            margin-left: auto;
        }
    }

	.logo {
		font-size: 22px;
		display: inline-block;
		vertical-align: middle;
	}

	.user {
        @include display(flex);
        @include align-items(center);

        .username {
            margin-right: 10px;
        }
    }
}

.container {
	position: relative;
	width: $containerWidth;
	margin: 0 auto;
}

.main-container {
    min-height: 100%;
}

#content {
	width: $contentWidth;
	margin-left: $sidebarWidth;
	padding-bottom: 50px;
}

.page-row,
.page-header {
    padding-left: $contentSidePadding;
}

.page-header {
	padding-top: 20px;
    padding-bottom: 20px;
    @include display(flex);
    @include flex-wrap(wrap);

    &.page-header--no-margin {
        margin-bottom: 0;
    }

    &.page-header--no-bottom-padding {
        padding-bottom: 0;
    }

    &.page-header--no-side-padding {
        padding-left: 0;
    }

    &.page-header--color {
        background: $colorLightAccent;
        border-bottom: 1px solid $colorSpacerLines;
    }
}

.module-title {
	font-size: 24px;
	font-weight: $fontWeightRegular;
}

.page-headline {
	font-size: 18px;
}

.default-section {
	padding-left: $contentSidePadding;
}



/* Grid */
.frame {
    width: 100%;
    @include display(flex);

    .bit-100 { width: 100%; }
    .bit-60 { width: 60%; }
    .bit-40 { width: 40%; }
    .bit-50 { width: 50%; }

    .bit--spacing-left {
        padding-left: 20px;
    }
}
