/**
 * Layout
 */
[class*='bit-'] {
	padding-top: 0;
	padding-bottom: 0;
}

.base-layout {
	height: 100%;
}

.container {
	position: relative;
	width: $containerWidth;
	margin: 0 auto;
}

.main-container {
	min-height: 100%;
}

#content {
	width: $contentWidth;
	margin-left: $sidebarWidth;
	padding-bottom: 50px;
}

.page-row,
.page-header {
	padding-left: $contentSidePadding;
}

.page-row {
	&.button-row {
		display: flex;
		padding-bottom: 30px;
		align-items: center;

		.buttons {
			display: flex;
			align-items: center;
			margin-left: auto;
		}

		.ff-button,
		.ff-dropdown {
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}

		.ff-dropdown {
			.ff-button {
				margin-right: 0;
			}
		}
	}
}

.page-header {
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	&.page-header--no-margin {
		margin-bottom: 0;
	}

	&.page-header--no-bottom-padding {
		padding-bottom: 0;
	}

	&.page-header--no-side-padding {
		padding-left: 0;
	}

	&.page-header--color {
		background: $colorLightAccent;
		border-bottom: 1px solid $colorSpacerLines;
	}

	.create-button {
		margin-left: auto;
	}
}

.module-title {
	font-size: 24px;
	font-weight: $fontWeightRegular;
	margin: 0;
}

.page-headline {
	font-size: 18px;
}

.default-section {
	padding-left: $contentSidePadding;
}

/* Grid */
.frame {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	&.frame--padding {
		padding-left: 25px;
		padding-right: 25px;
	}

	&.frame--bit-spacing {
		[class*='bit-'] {
			padding-left: 15px;
			padding-right: 15px;

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}

	.bit-100 {
		width: 100%;
	}
	.bit-60 {
		width: 60%;
	}
	.bit-40 {
		width: 40%;
	}
	.bit-50 {
		width: 50%;
	}
	.bit-75 {
		width: 75%;
	}
	.bit-25 {
		width: 25%;
	}

	.bit--spacing-left {
		padding-left: 20px;
	}
}
