@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
$custom-typography: mat-typography-config(
	$font-family: $fontFamily
);

@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue.

$nvry-material-colors: (
	50: #e8eaf6,
	100: #c5cae9,
	200: #9fa8da,
	300: #7986cb,
	400: #5c6bc0,
	500: $colorPrimary,
	600: #3949ab,
	700: $colorPrimary,
	800: $colorPrimary,
	900: $colorPrimary,
	A100: #8c9eff,
	A200: $colorPrimary,
	A400: #3d5afe,
	A700: #304ffe,
	contrast: (
		50: $black-87-opacity,
		100: $black-87-opacity,
		200: $black-87-opacity,
		300: white,
		400: white,
		500: $white-87-opacity,
		600: $white-87-opacity,
		700: $white-87-opacity,
		800: $white-87-opacity,
		900: $white-87-opacity,
		A100: $black-87-opacity,
		A200: white,
		A400: white,
		A700: $white-87-opacity,
	)
);

$nvry-primary: mat-palette($nvry-material-colors);
$nvry-accent: mat-palette($nvry-material-colors, A200, A100, A400);

// The warn palette is optional (defaults to red).
$nvry-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$nvry-theme: mat-light-theme($nvry-primary, $nvry-accent, $nvry-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($nvry-theme);
