button {
  background: transparent;
  border: 0;
  white-space: normal;
  outline: 0;
  appearance: none;
  cursor: pointer;
}

.ff-button,
.button {
  display: inline-block;
  zoom: 1;
  line-height: normal;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  user-select: none;

  font-family: inherit;
  font-size: 100%;
  color: $buttonTextColor;
  padding: $buttonPadding;
  letter-spacing: 1px;
  background: $buttonPrimaryBackground;
  border: 1px solid $buttonPrimaryBackground;
  text-decoration: none;
  border-radius: $buttonBorderRadius;
  transition: color .25s ease, background .25s ease;

  .ff-button__inner {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ff-icon {
    width: 12px;
    height: 12px;
    fill: currentColor;
    margin-right: 5px;
  }

  &::-moz-focus-inner {
    padding: 0;
    border: 0;
  }

  &:last-child,
  &.ff-button--no-margin {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    background: lighten($buttonPrimaryBackground, 5%);
  }

  &:focus {
    outline: 0;
  }

  &[disabled],
  &.disabled,
  &.disabled:hover,
  &.disabled:focus,
  &.disabled:active {
    opacity: .8;
    background: $colorGrayMedium;
    border-color: $colorGrayMedium;
    cursor: default;
  }

  &.ff-button--secondary {
    background: none;
    border-color: $colorGrayMedium;
    color: $colorPrimary;
  }

  &.ff-button--outline {
    background: none;
    color: white;
    border-color: white;
  }

  &.ff-button--white {
    color: $colorPrimary;
    background: white;
    border-color: white;
  }

  &.ff-button--clear {
    background: none;
    border: 0;
    color: $textColor;
    padding: 0;
    letter-spacing: inherit;

    &:hover {
      color: $colorPrimary;
    }
  }

  &.ff-button--danger {
    background: $colorError;
    border-color: $colorError;
  }

  &.ff-button--block {
    display: block;
    width: 100%;
  }

  &.ff-button--h-space {
    margin-right: 10px;
  }

  &.ff-button--l {
    text-transform: uppercase;
    padding: $buttonPaddingLarge;
    font-weight: $fontWeightBold;
  }

  &.ff-button--small {
    padding: $buttonPaddingSmall;
  }

  &.ff-button--xsmall {
    font-size: 11px;
    padding: 5px 12px;
  }

  &.ff-button--mini-rounded {
    border-radius: 999px;
    background-color: transparent;
    border: 0;
    width: 16px;
    height: 16px;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    .ff-icon {
      width: 14px;
      height: 14px;
      margin: 0;
      fill: $colorGrayUltraDark;
    }
  }

  &.ff-button--gray {
    background-color: $colorGray;
    border-color: $colorGray;
  }

  &.ff-button--dark {
    background: darken($colorUltraDarkAccent, 15%);
    border: 0;
  }

  &.ff-button--icon-medium {
    .ff-icon {
      width: 18px;
      height: 18px;
    }
  }
}
