.ff-select {
  width: auto;
  display: block;

  &.connected-with-next {
    .chosen-drop {
      width: auto;
      margin-right: -1px;
    }
  }

  &.ff-focused {
    .chosen-single {
      border-color: $colorPrimary;
    }
  }


  .chosen-container {
    width: 100% !important;

    .chosen-drop {
      border-color: $colorPrimary;
    }

    .chosen-single {
      border-radius: $formFieldBorderRadius;
      border-color: $formFieldBorderColor;
      background: transparent;
      box-shadow: none;
      height: auto;
      padding-top: 9px;
      padding-bottom: 9px;
      line-height: 1.5;

      div {
        display: flex;
        align-items: center;

        b {
          height: 25px;
        }
      }
    }

    .chosen-results {
      padding: 0;
      margin-right: 0;

      li {
        padding-top: 8px;
        padding-bottom: 8px;

        &.highlighted {
          background: $colorPrimary;
          color: white;
        }
      }
    }
  }

  .chosen-container-active {
    .chosen-single {
      border-color: $colorPrimary;
    }

    &.chosen-with-drop .chosen-single {
      background-image: none;
      border-color: $colorPrimary;
    }
  }

  .chosen-container {
    &.chosen-drop-up .chosen-drop {
      border-top: 1px solid $colorPrimary;
      border-bottom: 0;
      border-radius: 4px 4px 0 0;
      bottom: 100%;
      box-shadow: 0 -4px 5px rgba(#000, .15);
      top: auto;
    }
  }

  .chosen-container-active {
    &.chosen-with-drop {
      .chosen-single:not(.chosen-drop-up) {
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        //background-image:linear-gradient(#eee 20%, #fff 80%);
        //box-shadow: 0 1px 0 #fff inset;
      }
      &.chosen-drop-up {
        .chosen-drop {
          display: flex;
          flex-direction: column-reverse;
        }
        .chosen-single {
          border-top: 0;
          box-shadow: 0 1px 0 #FFF inset;
          border-top-right-radius: 0;
          border-top-left-radius: 0;
        }
      }
    }
  }

}