<div class="base-layout">
	<header class="main-header">
		<div class="container main-header__inner">
			<div class="logo">
				<img src="/assets/images/icons/logo-graydark.svg" alt="">
				<span class="version">v{{ version }}</span>
			</div>
			<div class="user">
				<a class="trial-message" href="https://headwayapp.co/navory-updates" target="_blank">
					Navory wird <strong>kostenlos</strong> und <strong>Open Source</strong>!
				</a>
				<div class="whats-new-badge">
				</div>
				<div class="user-image"></div>
				<span class="username">{{ state.user?.firstname }} {{ state.user?.lastname }}</span>

				<ff-dropdown>
					<button (click)="logout()">{{ 'general.logout' | translate }}</button>
				</ff-dropdown>
			</div>
		</div>
	</header>

	<main class="container main-container">
		<div id="sidebar">
			<nav>
				<ul>
					<li *ngFor="let item of navItems">
						<a [routerLink]="item.routerLink" class="{{ item.key }}" routerLinkActive="active">
							<ff-icon [name]="item.icon"></ff-icon>
							<span class="title">{{ item.title | translate }}</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div id="content">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>
