<div class="base-layout">
	<header class="main-header">
		<div class="container main-header__inner">
			<img src="/assets/images/icons/logo-graydark.svg" alt="" class="logo">
			<div class="user">
				<div class="user-image"></div>
				<span class="username">{{ state.user.firstname }} {{ state.user.lastname }}</span>

				<nvry-dropdown>
					<button (click)="logout()">{{ 'general.logout' | translate }}</button>
				</nvry-dropdown>
			</div>
		</div>
	</header>

	<main class="container main-container">
		<div id="sidebar">
			<nav>
				<ul>
					<li *ngFor="let item of navItems">
						<a [routerLink]="[item.routerLink]" class="{{ item.key }}" routerLinkActive="active">
							<nvry-icon [name]="item.icon"></nvry-icon>
							<span class="title">{{ item.title | translate }}</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<div id="content">
			<router-outlet></router-outlet>
		</div>
	</main>
</div>

<simple-notifications [options]="notificationOptions"></simple-notifications>
