<div class="page-header expenses-component-page-header">

	<nvry-month-selection [(selectedMonthIndex)]="selectedMonthIndex"
						  (selectedMonthIndexChange)="filter()"></nvry-month-selection>
	<nvry-year-selection [(year)]="selectedYear" (yearChange)="filter()"></nvry-year-selection>

	<button ff-button class="create-button" icon="plus" (click)="createExpense()">
		{{ 'expenses.new' | translate }}
	</button>
</div>

<nvry-table [options]="tableOptions" [rows]="filteredExpenses" [loading]="loading" (onRowClicked)="editExpense($event)">

	<div empty class="empty-view">
		<p class="title">{{ 'expenses.empty-state-message' | translate }}</p>
		<button ff-button icon="plus" (click)="createExpense()">{{ 'expenses.new' | translate }}</button>
	</div>

</nvry-table>


<ng-template #actionsColumn let-row="row" let-value="value">
	<nvry-dropdown>
		<button (click)="editExpense(row)">{{ 'actions.view' | translate }}</button>
		<button (click)="copyExpense(row)">{{ 'actions.copy' | translate }}</button>
		<button (click)="deleteExpense(row)">{{ 'actions.delete' | translate }}</button>
	</nvry-dropdown>
</ng-template>

<ng-template #paidColumn let-row="row" let-value="value">
	<div class="paid-indicator" [class.paid-indicator--full]="isFullyPaid(row)" [class.paid-indicator--partly]="isPartlyPaid(row)"></div>
</ng-template>


<ng-template #attachmentColumn let-row="row" let-value="value">
	<ff-icon name="paperclip" *ngIf="row.file.id" class="attachment-indicator-icon"></ff-icon>
</ng-template>
