<div class="page-header page-header--no-bottom-padding">
	<nvry-button class="button--clear" [routerLink]="['/expenses']" icon="arrow-left">{{ 'expenses.title' | translate }}
	</nvry-button>
	<hr>
</div>

<div *ngIf="expense && !loading" class="expense-edit">
	<div class="page-row button-row">
		<h1 class="module-title">
			<span *ngIf="expense.id">{{ 'expenses.edit_title' | translate }}</span>
			<span *ngIf="!expense.id">{{ 'expenses.create_title' | translate }}</span>
		</h1>
		<div class="buttons">
			<nvry-button [routerLink]="['/expenses']" class="button--secondary">{{ 'general.cancel' | translate }}
			</nvry-button>
			<nvry-button (click)="save()" [loading]="saving">{{ 'general.save' | translate }}</nvry-button>
		</div>

	</div>

	<div class="frame default-section">
		<div class="bit-60">
			<nvry-document-upload [(file)]="expense.file"></nvry-document-upload>
		</div>
		<div class="bit-40 bit--spacing-left">
			<nvry-alert-bar [message]="alertMessage"></nvry-alert-bar>
			<form [formGroup]="form">
				<div class="frame frame--bit-spacing">
					<div class="bit-50">
						<nvry-input [placeholder]="nextExpenseNumber"
									[label]="'income.number' | translate"
									[formControl]="form.controls.number"
									[(ngModel)]="expense.number"></nvry-input>
					</div>
					<div class="bit-50">
						<nvry-input type="date" [formControl]="form.controls.date" [label]="'general.date' | translate"
									[(ngModel)]="expense.date"></nvry-input>
					</div>
				</div>
				<div class="frame">
					<div class="bit-100">
						<nvry-input [label]="'general.description' | translate"
									[formControl]="form.controls.description"
									[(ngModel)]="expense.description"></nvry-input>
					</div>
					<div class="bit-100 combined-fields">
						<div class="combined-fields__side">
							<nvry-input type="money" [label]="'general.amount_net' | translate"
										[formControl]="form.controls.price" [(ngModel)]="expense.price"></nvry-input>
						</div>
						<div class="combined-fields__side">
							<nvry-select [label]="'general.taxrate' | translate" [options]="taxRates"
										 [enableSearchField]="false" [selectedValue]="expense.tax_rate?.id"
										 (selectedValueChange)="taxRateChanged($event)"></nvry-select>
						</div>
					</div>


					<div class="bit-100 combined-fields" *ngIf="expense.tax_rate?.rate == 0">
						<div class="combined-fields__side">
							<nvry-select [label]="'income.edit.intra-community' | translate" [options]="euVatTypes"
										 valueKey="value" [(selectedValue)]="expense.eu_vat_type" (selectedValueChange)="euVatTypeChanged()"></nvry-select>
						</div>
						<div class="combined-fields__side">
							<div *ngIf="expense.eu_vat_type != 'none'">
								<nvry-select [label]="'expenses.eu_tax_rate' | translate" [options]="taxRates"
											 [selectedValue]="expense.eu_tax_rate?.id"
											 (selectedValueChange)="euTaxRateChanged($event)"></nvry-select>
							</div>
						</div>
					</div>

					<div class="bit-50">
						<div class="category-field" (click)="showCategories()">
							<label>{{ 'general.category' | translate }}</label>
							<input type="text" value="{{ expense.category?.name }}"
								   class="clickable-field category-field-input" disabled>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<div class="page-row" *ngIf="loading">
	<nvry-spinner></nvry-spinner>
</div>


<nvry-modal #selectCategory>
	<nvry-expense-category-selection [categories]="expenseCategories"
									 (categorySelected)="categorySelected($event)"></nvry-expense-category-selection>
</nvry-modal>
