<div class="page-header expenses-component-page-header">

    <nvry-month-selection [(selectedMonthIndex)]="selectedMonthIndex" (selectedMonthIndexChange)="filter()"></nvry-month-selection>
    <nvry-year-selection [(year)]="selectedYear" (yearChange)="filter()"></nvry-year-selection>

    <nvry-button class="create-button" icon="plus">
        {{ 'expenses.new' | translate }}
    </nvry-button>
</div>

<nvry-table [options]="tableOptions" [rows]="filteredExpenses" [loading]="loading"></nvry-table>
