<nvry-login-layout>
	<div class="default-form-wrapper">
		<div class="default-form-description">
			<h3>{{ 'login.forgot-password.title' | translate }}</h3>
			<p class="small-print" *ngIf="!alertMessage">{{ 'login.forgot-password.description' | translate }}</p>
		</div>
		<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-stacked forgot-password-form">
			<nvry-alert-bar [message]="alertMessage" [type]="alertType"></nvry-alert-bar>
			<div *ngIf="!alertMessage">
				<div class="formfield-wrapper">
					<nvry-input type="email" [placeholder]="'general.email' | translate"
								[formControl]="form.controls.email"></nvry-input>
				</div>
				<nvry-button class="button--l button--block" [loading]="loading">
					{{ 'login.forgot-password.reset' | translate }}
				</nvry-button>
			</div>
		</form>
	</div>

	<div class="after-form">
		<a [routerLink]="['/login']" class="small-print">
			{{ 'login.forgot-password.back-to-login' | translate }}
		</a>
	</div>
</nvry-login-layout>
