<nvry-login-layout>
	<div class="default-form-wrapper">
		<div class="default-form-description">
			<h3>{{ 'login.forgot-password.title' | translate }}</h3>
			<p class="small-print" *ngIf="!alertMessage">{{ 'login.reset-password.description' | translate }}</p>
		</div>
		<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-stacked forgot-password-form">
			<nvry-alert-bar [message]="alertMessage" [type]="alertType"></nvry-alert-bar>
			<div *ngIf="!finished">

				<div class="formfield-wrapper">
					<nvry-input type="password" placeholder="{{ 'login.reset-password.password' | translate }}"
								[formControl]="form.controls.password"></nvry-input>
				</div>
				<div class="formfield-wrapper">
					<nvry-input type="password" placeholder="{{ 'login.reset-password.password-confirm' | translate }}"
								[formControl]="form.controls.passwordRepeat"></nvry-input>
				</div>
				<nvry-button class="button--l button--block" [loading]="loading">
					{{ 'login.reset-password.submit' | translate }}
				</nvry-button>
				<nvry-button class="button--l button--block" [hidden]="!finished" (onClick)="goToLogin()">
					{{ 'login.reset-password.to-login' | translate }}
				</nvry-button>
			</div>
		</form>
	</div>

	<div class="after-form">
		<a [routerLink]="['/login']" class="small-print">
			{{ 'login.forgot-password.back-to-login' | translate }}
		</a>
	</div>
</nvry-login-layout>
