<div class="top-notice">
	<a [routerLink]="['/login']" [innerHTML]="'login.signup.login-notice' | translate"></a>
</div>

<div class="content-wrapper signup-wrapper">
	<div class="header">
		<div class="headline-wrapper">
			<h2 class="headline" [innerHTML]="'login.signup.welcome' | translate"></h2>
			<nvry-logo></nvry-logo>
		</div>
		<p class="sub">{{ 'login.signup.tagline' | translate }}</p>
	</div>

	<form [formGroup]="form" class="form-stacked default-form-wrapper signup-form" (ngSubmit)="onSubmit()">
		<nvry-alert-bar [message]="alertMessage"></nvry-alert-bar>

		<div class="formfield-wrapper">
			<ff-input [placeholder]="'general.company' | translate"
						[formControl]="form.controls.company"></ff-input>
		</div>
		<div class="formfield-wrapper">
			<ff-input [placeholder]="'general.firstname' | translate"
						[formControl]="form.controls.firstname"></ff-input>
		</div>
		<div class="formfield-wrapper">
			<ff-input [placeholder]="'general.lastname' | translate"
						[formControl]="form.controls.lastname"></ff-input>
		</div>
		<div class="formfield-wrapper">
			<ff-input [placeholder]="'general.email' | translate" [formControl]="form.controls.email"></ff-input>
		</div>
		<div class="formfield-wrapper">
			<ff-input type="password" [placeholder]="'general.password' | translate"
						[formControl]="form.controls.password"></ff-input>
		</div>

		<button ff-button class="button--l button--block" [loading]="loading">
			{{ 'login.signup.submit' | translate }}
		</button>
	</form>

</div>
